
.listing-name {
	font-size: 20px;
}

.glyphicon {
	margin-top: 7px;
}

h2.panel-title{
	font-size: 30px;
}

.listing-margin {
	margin: 0 20px;
}

#mocha {
	float: left;
	width: 1007px;
}

#mocha .suite {
	margin-top: 50px;
}

#mocha .suite .suite h1 {
	margin-top: 10px;
}

ul#mocha-stats {
	position: relative;
	float: right;
	width: 100%;
	margin-bottom: 20px;
}

#mocha-stats li {
	float: right;
}

#mocha-stats li.progress {
	height: 40px;
}

#mocha-report {
	float: left;
	width: 100%;
}

#mocha-report li.suite ul li{
	margin-top: 10px;
}