

<h1> Twig Engine  <span class="label label-success" style="font-size: 50%;"> {{version}} </span></h1>

<hr>

<div class="container-fluid">

	<h2>Twig.js </h2>
	<div class="doc2">
		<p>
		Nodefony use <a href="https://github.com/twigjs/twig.js" >twig.js</a>  : JS port of the Twig templating language of symfony framework See more <a href="http://twig.sensiolabs.org/">( twig.sensiolabs.org )</a>. 
		<p>
	</div>



	<h2> TWIG.js Differences / Implementation Notes   <small><a href="https://github.com/twigjs/twig.js/wiki/Implementation-Notes" >Implementation Notes</a></small></h2>
	<div class="doc2">

		<p>

		<p>




		<div class="doc3" >
			<h3>Built-in Tags:</h3>

			<ul>
				<li>
				<code>autoescape</code>: </li>
				<li>
				<code>block</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>do</code>: </li>
				<li>
				<code>extends</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>filter</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>flush</code>: N/A</li>
				<li>
				<code>for</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>from</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>if</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>import</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>include</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>macro</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>raw</code>: </li>
				<li>
				<code>sandbox</code>: </li>
				<li>
				<code>set</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>spaceless</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>use</code>: <strong>Supported</strong>
				</li>
			</ul>

			<h3>Built-in Filters:</h3>

			<ul>
				<li>
				<code>abs</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>batch</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>capitalize</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>convert_encoding</code>: N/A</li>
				<li>
				<code>date</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>date_modify</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>default</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>escape</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>first</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>format</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>join</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>json_encode</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>keys</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>last</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>length</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>lower</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>merge</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>nl2br</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>number_format</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>merge</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>raw</code>: </li>
				<li>
				<code>replace</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>reverse</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>round</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>slice</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>sort</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>split</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>striptags</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>title</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>trim</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>upper</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>url_encode</code>: <strong>Supported</strong>
				</li>
			</ul>

			<h3>Built-in Functions:</h3>

			<ul>
				<li>
				<code>attribute</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>block</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>constant</code>: </li>
				<li>
				<code>cycle</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>date</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>dump</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>include</code>: </li>
				<li>
				<code>max</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>min</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>parent</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>random</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>range</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>source</code>: <strong>Supported</strong>
				</li>
			</ul>

			<h3>Built-in Tests: </h3>

			<ul>
				<li>
				<code>constant</code>: </li>
				<li>
				<code>defined</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>divisibleby</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>empty</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>even</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>iterable</code>: Open Pull Request #165 </li>
				<li>
				<code>null</code> / <code>none</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>odd</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>sameas</code>: <strong>Supported</strong>
				</li>
			</ul>

			<h3>Built-in Operators: </h3>

			<ul>
				<li>
				<code>in</code>: <strong>Supported</strong>
				</li>
				<li>
				<code>is</code>: <strong>Supported</strong>
				</li>
				<li>Math (<code>+</code>, <code>-</code>, <code>/</code>, <code>%</code>, <code>*</code>, <code>**</code>): <strong>Supported</strong>
				</li>
				<li>Logic (<code>and</code>, <code>or</code>, <code>not</code>, <code>()</code>): <strong>Supported</strong>
				</li>
				<li>Comparisons (<code>==</code>, <code>!=</code>, <code>&lt;</code>, <code>&gt;</code>, <code>&gt;=</code>, <code>&lt;=</code>, <code>===</code>): <strong>Supported</strong>
				</li>
				<li>Others (<code>..</code>, <code>|</code>, <code>~</code>, <code>.</code>, <code>[]</code>, <code>?:</code>): <strong>Supported</strong>
				</li>
				<li>Null-coalescing (<code>??</code>): Issue <a href="https://github.com/justjohn/twig.js/issues/319">#319</a> open</li>
			</ul>


		</div>



	</div>

