<div class="page-header">
  <h1><strong>Services And Container</strong> </h1>
	<div class="alert alert-info" role="alert">
		<h2><strong>
			Services Container Nodefony  </br> 
		</strong></h2>
		<p>
			Nodefony Kernel create an instance of class container. </br>
			This container allows us to retrieve services to any level of code </br>	  
			This one allows us to use the design pattern dependency injections 
		</p>
		
	</div>
	<div class="alert alert-info" role="alert">

		<h2>
			<strong> Services Nodefony</strong>
		</h2>
		<p>
			A service is an entity that can perform a work . </br>
			A service provides good Maintenance and factorization of code </br>	  
		</p>
	</div>

</div>

<h2 > You can see here :</h2>

<p>
	<ul>
		
	</ul>
<p>


<h2 name="" id="">Location  :</h2>

<div class="doc2">
	<p>
		

	</p>

	<pre>

	</pre>
</div>




<h2 name="" id="">Class Container :</h2>

<div class="doc2">
	<p>

	</p>

	<pre>

	</pre>
</div>


<h2 name="" id="">Scope :</h2>

<div class="doc2">
	<p>
		The scope of the container is a clever clone that allows you to add services without changing its parent container.</br>
		But the scope inherits all the changes of the parent   
	</p>

	<pre>

	</pre>
</div>





<h2 name="" id="">Class Service :</h2>

<div class="doc2">
	<p>
		
	</p>

	<pre>

	</pre>
</div>




