#Ignore directory 
build/**
docs/**
tmp/**
web/**
**/assets/**

nodefony.db
app/Resources/databases/**
app/Resources/databases/nodefony.db

node_modules/**
npm-debug.log
*.[oa]

#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

# Eclipse file
/.project
/.settings
/nbproject/private/
