#Ignore directory 
build/**
docs/**
tmp/**
web/**
**/assets/**

app/Resources/databases/*
*.db

node_modules/**
npm-debug.log
*.[oa]

config/certificates/**/*

#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

# Eclipse file
/.project
/.settings
/nbproject/private/
