#Ignore directory
/docs/**
/tmp/**
/web/**
**/assets/**
config/generatedConfig.yml

app/Resources/databases/*
*.db

node_modules/**
**/node_modules/**
npm-debug.log
*.[oa]

config/certificates/**/*

#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store

.srl
# Eclipse file
/.project
/.settings
/nbproject/private/


#Ignore directory
/tmp/*
/web/*

assets
**/assets/**
app/Resources/public/assets/


config/generatedConfig.yml

app/Resources/databases/*
app/*.db
app/build

node_modules/**
**/node_modules/**
**/precache-manifest*
npm-debug.log
yarn-error.log
.~lock*

yarn.lock
package-lock.json
package-lock.json/**
**/package-lock.json/**
yarn.lock/**
**/yarn.lock/**
*/yarn.lock
*/package-lock.json
*.[oa]

config/certificates/**/*

**/assets/**/*.map
src/**/assets/**/*.map

#Ignore vin backup
*.swp
*.swn
*.swo
#emacs
*~
# macos
.DS_Store
.ftpconfig
.ftpignore

.srl
# Eclipse file
/.project
/.settings
/nbproject/private/
