<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/app/images/app-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{nodefony.name}}
  </a>
</nav>
