{{trans_default_domain("doc")}}

<div class="container text-center mt-4">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="h1 font-weight-normal" style="color:#0167b8">
        <img class="" src="{{CDN('image')}}/app/images/app-logo.png"/>
        Documentation {{bundle}}
      </h1>
    </div>
  </div>
</div>
