<!-- uidev view -->
{% include "../blocks/title.html.twig" with { 'title': 'Couleurs', 'subtitle': '' } %} 
<div class="wrapper">
	<div class="row">
        <div class="col-sm-6">
          <p>.bg-light</p>
          <div class="m-b">
            <span class="bg-light hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
          <p>.bg-dark</p>
          <div class="m-b">
            <span class="bg-dark hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
          <p>.bg-black</p>
          <div class="m-b">
            <span class="bg-black hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
          <p>.bg-primary</p>
          <div class="m-b">
            <span class="bg-primary hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <p>.bg-info</p>
          <div class="m-b">
            <span class="bg-info hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
          <p>.bg-success</p>
          <div class="m-b">
            <span class="bg-success hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
          <p>.bg-warning</p>
          <div class="m-b">
            <span class="bg-warning hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
          <p>.bg-danger</p>
          <div class="m-b">
            <span class="bg-danger hbox">
              <span class="col wrapper text-center dker">.dker</span>
              <span class="col wrapper text-center dk">.dk</span>
              <span class="col wrapper text-center bg">.bg</span>
              <span class="col wrapper text-center lt">.lt</span>
              <span class="col wrapper text-center lter">.lter</span>
            </span>
          </div>
        </div>
      </div>
</div>
<!-- /uidev view -->
