<!-- uidev view -->
{% include "../blocks/title.html.twig" with { 'title': 'Graphs', 'subtitle': 'nodefony graph demo ' } %} 

<style type="text/css">

	.pie .inline {
		display: inline-block!important;
	}
	
	

	.chart, .donut {
		float: left;
		margin: 30px;
		display: inline-block;
		position: relative;
		text-align: center;
	}
	
	.chart>div{
		position: relative;
		z-index: 1;
	}
	
	.chart>div .text {
		position: absolute;
		top: 60%;
		width: 100%;
		line-height: 1;
	}
	
	.chart canvas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}
	
	.camembert .donut {
		width: 100%;
		height: 400px;
		margin: 0;
	}
	
	.camembert .legendColorBox>div {
		margin: 5px;
		border: none!important;
	}
	
	.camembert .legendColorBox>div>div{
		border-radius: 10px;
	}
	
	#flotTip {
	    z-index: 100;
	    padding: 4px 10px;
	    font-size: 12px;
	    color: #fff;
	    background-color: rgba(0, 0, 0, 0.8);
	    border: solid 1px #000!important;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	}
	
	.graphs .graph {
		height: 400px;
	}
	
	.graphs .stackedBars .graph {
		width: 150px;
		height: 150px;
	}

</style>

<div class="wrapper">

	<div class="row pie-random">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pie chart Random</div>
				<div class="panel-body">

				</div>
			</div>
		</div>
	</div>
	
	<div class="row pie">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pie chart warning</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="chart chart-warning" data-percent="75">
							<div>
								<span class="h2 m-l-sm step">75</span>%
								<div class="text text-sm">new</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					% of avarage rate of the Conversion
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pie chart success</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="chart chart-success" data-percent="25">
							<div>
								<span class="h2 m-l-sm step">25</span>%
								<div class="text text-sm">today</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					% of change
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Pie chart info</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="chart chart-info" data-percent="50">
							<div>
								<span class="h2 m-l-sm step">50</span>%
								<div class="text text-sm">new visits</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					% of avarage rate of the visits
				</div>
			</div>
		</div>
	</div>
	
	<div class="row camembert">
		<div class="col-md-4 donutPie">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					Donut Pie
					<label class="i-switch bg-primary pull-right">
						<input type="checkbox">
						<i></i>
					</label>
				</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="donut">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="col-md-4 spark">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					Spark
					<label class="i-switch bg-primary pull-right">
						<input type="checkbox">
						<i></i>
					</label>
				</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="donut"></div>
						<div class="text-xs">
			            	<i class="fa fa-circle text-info"></i> Samsung Note4 : 60%
			            	<i class="fa fa-circle text-muted m-l"></i> Iphone6 : 40%
			         	</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row graphs">
		<div class="col-md-6 bicolor">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					Bicolor Graph
					<label class="i-switch bg-primary pull-right">
						<input type="checkbox">
						<i></i>
					</label>
				</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="graph">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="col-md-6 gradient">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<label class="i-switch bg-primary pull-right text-left">
						<input type="checkbox">
						<i></i>
					</label>
					<h4 class="font-thin m-t-none m-b-none text-primary-lt">Gradient Graph</h4>
					<span class="m-b block text-sm text-muted">Service report of this year (updated 1 hour ago)</span>
					<div class="inline">
						<div class="graph">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="col-md-6 realTime">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					Real Time Graph
					<label class="i-switch bg-primary pull-right">
						<input type="checkbox">
						<i></i>
					</label>
				</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="graph">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		<div class="col-md-3 stackedBars">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					stacked bars Graph
					<label class="i-switch bg-primary pull-right">
						<input type="checkbox">
						<i></i>
					</label>
				</div>
				<div class="panel-body">
					<div class="inline">
						<div class="m-b-md">
				        	<p class="h3 font-thin">Investings</p>
				        	Avarage investing in last year.
				        </div>
				        <div class="row">
				        	<div class="col-xs-6">
				        		<div class="graph"></div>
				        	</div>
				        	<div class="col-xs-6">
				            	Revenue
				            	<div class="h3 text-black m-b">4500,00</div>
				            	Costs
				            	<div class="h3 text-success">3450,00</div>
				            </div>
				        </div>
						
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-3 multi">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">
					Real Time Graph
					<label class="i-switch bg-primary pull-right">
						<input type="checkbox">
						<i></i>
					</label>
				</div>
				<div class="panel-body text-center">
					<div class="inline">
						<div class="graph">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
<script type="text/javascript">

	var colors = {
		primary: "#7266ba",
		success: "#27c24c",
		info: "#23b7e5",
		warning: "#fad733",
		danger: "#f05050",
		dark: "#3a3f51",
		black: "#1c2b36",
		muted: "#e8eff0"
	};
	
	var typeLineCap = ['butt', 'round', 'square'];

	for(var color in colors){

		if(color != 'muted'){
			
			var percent = Math.round(Math.random() * 100);
			var size = Math.round(Math.random() * 250) + 50;
			
			var elem = $('<div class="chart">\
				<div>\
					<span class="h2 m-l-sm step"></span>%\
					<div class="text text-sm"></div>\
				</div>\
			</div>');
	
			$('.pie-random .panel-body').append(elem);
			var options = {
				animate: 1,
				percent: percent,
				trackColor: colors['muted'],
				scaleColor: !Math.round(Math.random()) || '#e8eff0',
				barColor: colors[color],
				lineCap: typeLineCap[Math.floor(Math.random()*typeLineCap.length)],
				lineWidth: Math.round(Math.random() * 10) + 5,
				size: size
			};
			
			elem.attr('data-percent', percent);
			elem.attr('ui-options', JSON.stringify(options));
			elem.find('.step').text(percent);
			elem.find('.text').text(color);
			elem.css({'width': size + 'px', 'height': size + 'px', 'line-height': size + 'px'});
			elem.easyPieChart(options);
		}
	}


	/*
	*	
	*	PIE CHART WARNING
	*
	*/
	$('.chart-warning')
		.css({'width': '188px', 'height': '188px', 'line-height': '188px'})
		.easyPieChart({
			animate: 1,
			trackColor: colors['muted'],
			barColor: colors['warning'],
			lineWidth: 10,
			size: 188,
			lineCap: 'square'
		});

	/*
	*	
	*	PIE CHART SUCCESS
	*
	*/
	$('.chart-success')
		.css({'width': '188px', 'height': '188px', 'line-height': '188px'})
		.easyPieChart({
			animate: 1,
			trackColor: colors['muted'],
			barColor: colors['success'],
			lineWidth: 10,
			size: 188,
			lineCap: 'square'
		});

	/*
	*	
	*	PIE CHART INFO
	*
	*/
	$('.chart-info')
		.css({'width': '188px', 'height': '188px', 'line-height': '188px'})
		.easyPieChart({
			animate: 1,
			trackColor: colors['muted'],
			barColor: colors['info'],
			lineWidth: 10,
			size: 188,
			lineCap: 'square',
			scaleColor: false
		})
		.children('canvas').each(function(index, item){
			item.getContext("2d").rotate(90 * (Math.PI / 180));
		});

	$('.camembert .i-switch input').on('change', function(){
		if($(this).is(':checked')){
			var container = $(this).closest('.col-md-4');
			container.removeClass('col-md-4').addClass('col-md-8');
			container.find('.donut').css('height', '600px');
		} else {
			var container = $(this).closest('.col-md-8');
			container.removeClass('col-md-8').addClass('col-md-4');
			container.find('.donut').css('height', '400px');
		}
	});

	/*
	*	
	*	DONUT CAMEMBERT
	*
	*/
	var data = [{"label":"iPhone5S","data":40},{"label":"iPad Mini","data":10},{"label":"iPad Mini Retina","data":20},{"label":"iPhone4S","data":12},{"label":"iPad Air","data":18}];
	$.plot('.camembert .donutPie .donut', data, { 
		series: { 
			pie: { 
				show: true, 
				innerRadius: 0.5, 
				stroke: {
					 width: 0 
				}, 
				label: {
					 show: true, 
					 threshold: 0.05 
				} 
			} 
		}, 
		colors: [colors['primary'],colors['info'],colors['success'],colors['warning'],colors['danger']],
		grid: { 
			hoverable: true, 
			clickable: true, 
			borderWidth: 0, 
			color: '#ccc' 
		}, 
		tooltip: true, 
		tooltipOpts: {
			content: '%s: %p.0%',
			defaultTheme: false
		}
	});


	/*
	*	
	*	SPARK CAMEMBERT
	*
	*/
	var data = [{"label":"iPhone6","data":40}, {"label":"Samsung Note4","data":60}];
	$.plot('.camembert .spark .donut', data, {
		series: {
			pie: {
	            show: true,
	            radius: 3/4,
	            startAngle: 1.2,
	            label: {
					show: false
			    }
	        }
    	},
		colors: [colors['muted'],colors['info']],
		legend: {
			show: false,
			position: 'sw'
		},
		grid: {
	        hoverable: true, 
			color: '#ccc'
	    },
	    tooltip: true, 
		tooltipOpts: {
			 content: '%s: %p.0%',
			 defaultTheme: false
		}
	});


	/*
	*	
	*	BICOLOR GRAPH
	*
	*/
	var dataTv = [[0,7],[1,6.5],[2,12.5],[3,7],[4,9],[5,6],[6,11],[7,6.5],[8,8],[9,7]];
	var dataMag = [[0,4],[1,4.5],[2,7],[3,4.5],[4,3],[5,3.5],[6,6],[7,3],[8,4],[9,3]];
	var series = [
		{
			data: dataTv,
			lines: {
				fill: true
			},
			splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 },
			label: 'TV',
			
		},
		{
			data: dataMag,
			lines: {
				fill: true
			},
			splines: { show: true, tension: 0.4, lineWidth: 1, fill: 0.8 }, // traçage des courbe de bezier (PLUGIN spline)
			label: 'MAG'
		}
	];
	
	 $('.graphs .i-switch input').on('change', function(){
		if($(this).is(':checked')){
			var container = $(this).closest('.col-md-6');
			container.removeClass('col-md-6').addClass('col-md-8');
		} else {
			var container = $(this).closest('.col-md-8');
			container.removeClass('col-md-8').addClass('col-md-6');
		}
	});
	
	$.plot('.graphs .bicolor .graph', series, {
		colors: [colors['info'], colors['primary']],
		points: { show: true, radius: 1},
		series: { shadowSize: 3 }, 
		grid: {
			show: true,
			hoverable: true,
			borderWidth: 0,
			color: '#a1a7ac',
			//minBorderMargin: 20,
			//labelMargin: 10,
			/*backgroundColor: {
				colors: ["#fff", "#e4f4f4"]
			},*/

		},
		yaxis:{
			tickSize: 5,
			tickFormatter: function(val){return Math.round(val)},
			max:20 
		},
		tooltip: true,
		tooltipOpts: {
			content: 'Visits of %x.1 is %y.1',
			defaultTheme: false,
			shifts: {
				x: 10,
				y: -25
			}
		}
	});

	/*
	*	
	*	GRADIENT GRAPH
	*
	*/
	var series = [{
		data: [[0,50.35363472532481],[1,52.99017579294741],[2,49.66809849953279],[3,46.26817404059693],[4,49.20530430274084],[5,47.66658389009535],[6,50.49415585352108],[7,47.519050943665206],[8,44.62684415979311],[9,44.13025320973247],[10,49.00160752469674],[11,51.983906570822],[12,48.07001611450687],[13,49.189309182111174],[14,51.22176817152649],[15,49.476807701867074],[16,45.14192690839991],[17,42.19301752047613],[18,46.88078876584768],[19,44.92832821095362],[20,49.32930239941925],[21,48.55454941513017],[22,52.500524532515556],[23,47.52681422047317],[24,44.598317076452076],[25,39.94372372981161],[26,35.30515736434609],[27,32.95030273497105],[28,32.16590311611071],[29,28.569154508877546],[30,25.386098893359303],[31,30.333523117005825],[32,33.89769903384149],[33,34.34664971195161],[34,29.73233629949391],[35,32.13046515593305],[36,32.19467181712389],[37,35.31761976424605],[38,30.819327626377344],[39,33.024285808205605],[40,33.21082812035456],[41,32.447245384100825],[42,28.75959802651778],[43,23.792105575557798],[44,23.0529068922624],[45,24.046353143639863],[46,26.667090367991477],[47,26.334863579832017],[48,25.67616543499753],[49,30.15196206746623],[50,25.974727114662528],[51,27.799000267405063],[52,31.419993268791586],[53,28.22293150005862],[54,28.66485787089914],[55,23.90633009839803],[56,21.417113281786442],[57,24.16115845553577],[58,25.75454903766513],[59,22.700446823146194],[60,25.156568584498018],[61,25.1863253605552],[62,20.97170954104513],[63,18.437898468691856],[64,17.167931548319757],[65,21.34624576428905],[66,22.72179111139849],[67,18.462989632971585],[68,17.715264009311795],[69,12.764928254764527],[70,15.128162703476846],[71,16.591976906638592],[72,16.217181920073926],[73,17.317402495536953],[74,21.806796279270202],[75,26.273279492743313],[76,23.449009330943227],[77,25.793377950321883],[78,24.896712556947023],[79,20.466642328538],[80,20.681683304719627],[81,19.46861241478473],[82,24.426401976961643],[83,28.140164464712143],[84,31.065785374958068],[85,32.39265428390354],[86,28.33647265098989],[87,30.355920523870736],[88,30.16769093228504],[89,31.43854836700484],[90,33.23058952577412],[91,30.052206797990948],[92,32.937619981821626],[93,36.24771878356114],[94,33.704577495809644],[95,34.45014981785789],[96,38.46869957866147],[97,38.332204048056155],[98,35.373242469504476],[99,37.20786550082266],[100,40.76874220510945],[101,39.00862100766972],[102,36.27592636970803],[103,32.61559766251594],[104,36.193825183436275],[105,40.760712136980146],[106,42.34329673694447],[107,41.83257912285626],[108,38.64535385975614],[109,39.17077634250745],[110,39.58145296666771],[111,44.271928754169494],[112,43.444466239307076],[113,45.528879053890705],[114,44.03059394098818],[115,45.50360753200948],[116,41.34648312116042],[117,37.592731225304306],[118,34.37175624538213],[119,37.79222914483398],[120,39.44299143040553],[121,34.955102254170924],[122,39.13803876610473],[123,43.26353188371286],[124,38.64059458952397],[125,35.92244155704975],[126,36.34663310367614],[127,35.49769232980907],[128,33.25087561039254],[129,37.595992393326014],[130,36.24378435080871],[131,39.479658203199506],[132,37.88287328090519],[133,41.26300959615037],[134,37.27168115088716],[135,34.8649198631756],[136,36.259883870370686],[137,37.059483726043254],[138,39.21246183803305],[139,40.08691138587892],[140,38.68805551668629],[141,37.75524653028697],[142,41.46896322956309],[143,42.752216171938926],[144,41.479522737208754],[145,36.53388747945428],[146,35.18623042386025],[147,36.69059158070013],[148,34.1642560926266],[149,31.112573323771358]],
		lines: { 
			show: true,
			lineWidth: 1,
			fill: true,
			fillColor: {
				colors: [{opacity: 0.2}, {opacity: 0.8}] 
			} 
		}
	}];
	
	$.plot('.graphs .gradient .graph', series, {
		colors: ['#e8eff0'],
		series: {
			shadowSize: 3
		},
		xaxis:{ show:false },
		grid: { 
			hoverable: true,
			borderWidth: 0,
			color: '#dce5ec'
		},
		tooltip: true,
		tooltipOpts: {
			content: '%s of %x.1 is %y.4',
			defaultTheme: false,
			shifts: {
				x: 10,
				y: -25
			}
		}
	});


	/**
	*
	*	STACKED BARS GRAPH
	*
	*/

	var d1 = [ [1, 2], [2, 4], [3, 6], [4, 8], [5, 10], [6, 8], [7, 6], [8, 4], [9, 2] ];
	var d2 = [ [1, 8], [2, 6], [3, 4], [4, 2], [5, 0], [6, 2], [7, 4], [8, 6], [9, 8] ];
	
	$.plot(".graphs .stackedBars .graph", [ d1, d2 ], {
		colors: [colors['success'], colors['muted']],
		series: {
			stack: 1, // PLUGIN stack
			bars: {
				show: true,
				barWidth: 0.4,
				align: 'center',
			    lineWidth: 0,
			    fill: true,
			    fillColor: { 
			        colors: [ { opacity: 1}, {opacity: 1 } ]
			    }
			}
		},
		grid: {
			show: false,
			hoverable: true,
		},
		tooltip: true,
		tooltipOpts: {
			content: 'Visits of %x.1 is %y.1',
			defaultTheme: false,
			shifts: {
				x: 10,
				y: -25
			}
		}
	});
	
	</script>
