<!-- uidev view -->
{% include "../blocks/title.html.twig" with { 'title': 'RealTime', 'subtitle': 'stage server demo ' } %} 


<div class="wrapper">

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Header</div>
				<div class="panel-body">
					<div class="chart" data-percent="73">
						<div id="myEle" >73%</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Header</div>
				<div class="panel-body">
					<div >
						<div class="chart-warning" data-percent="75">
							<div>
								<span class="h2 m-l-sm step">75</span>%
								<div class="text text-sm">new</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			

		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading font-bold">Header</div>
				<div class="panel-body">
					<div class="chart2" data-percent="30">73%</div>
				</div>
			</div>

		</div>
	<div >
<div >



<!-- /uidev view -->
