<!-- uidev view -->
{% include "../blocks/title.html.twig" with { 'title': 'Widgets', 'subtitle': '' } %}
<div class="wrapper">
        <div class="row">
                <div class="col-md-4">
					<div class="panel panel-default">
					  <div class="panel-heading font-bold">Header</div>
					  <div class="panel-body">
						body
					  </div>
					</div>
<!--
                        <div class="col-xs-7 no-p">
                                <div class="panel b">
                                        <div class="panel-heading bg-info dk no-b wrapper-lg">
                                                <button class="btn btn-sm btn-icon btn-rounded btn-info pull-right m-r"><i class="fa fa-phone"></i></button>
                                                <button class="btn btn-sm btn-icon btn-rounded btn-info m-l"><i class="fa fa-heart"></i></button>
                                        </div>
                                        <div class="text-center m-b clearfix">
                                                <div class="h4 font-thin m-t-md">Benjamin Léouzon</div>
                                        </div>
                                        <div class="hbox text-center b-t b-light">          
                                                <a href="" class="col padder-v text-muted b-r b-light">
                                                        <div class="h4">5032</div>
                                                        <span>Posts</span>
                                                </a>
                                                <a href="" class="col padder-v text-muted">
                                                        <div class="h4">689</div>
                                                        <span>Photos</span>
                                                </a>
                                        </div>
                                </div>
                        </div>
-->
                </div>
                <div class="col-md-4">
                        <div class="panel no-b">
                                <div class="panel-heading wrapper b-b b-light">
                                        <span class="text-xs text-muted pull-right">
                                                <i class="fa fa-level-up text-primary m-r-xs"></i> Émis
                                                <i class="fa fa-level-down text-primary m-r-xs m-l-sm"></i> Reçus
                                                <i class="fa fa-level-down text-danger m-r-xs m-l-sm"></i> Absence
                                        </span>
                                        <h4 class="no-m font-thin text-muted">Dernières activités</h4>              
                                </div>
                                <ul class="list-group list-group-lg">
                                        <li class="list-group-item b-light clear">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a moins d'une minute</span>
                                                        <a href="" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Rappeler le correspondant"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted" data-toggle="tooltip" data-placement="bottom" title="Voir le contact"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href=""><i class="fa fa-level-up text-primary m-r-xs"></i> Damon Parker</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 1 jours</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href=""><i class="fa fa-level-down text-primary m-r-xs"></i> 0634986621</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 2 jours</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href=""><i class="fa fa-level-down text-primary m-r-xs"></i> Jannie Davis</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 4 jours</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href=""><i class="fa fa-level-up text-primary m-r-xs"></i> Emma Welson</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 4 jours</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href="" class="text-danger"><i class="fa fa-level-down text-danger m-r-xs"></i> Damon Parker</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 12 jours</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href=""><i class="fa fa-level-up text-primary m-r-xs"></i> Joe Waston</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 2 mois</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href="" class="text-danger"><i class="fa fa-level-down text-danger m-r-xs"></i> Jannie Dvis</a>
                                        </li>
                                        <li class="list-group-item b-light">
                                                <span class="pull-right">
                                                        <span class="text-muted text-xs">Il a 2 mois</span>
                                                        <a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
                                                        <a href="" class="text-muted"><i class="icon icon-user"></i></a>
                                                </span>
                                                <a href=""><i class="fa fa-level-down text-primary m-r-xs"></i> Emma Welson</a>
                                        </li>
                                </ul>
                        </div>
                </div>
                <div  class="col-md-4">
                        <div  class="row-sm">
                                <div  class="col-md-6">
                                        <a  class="block panel bg-info text-center wrapper">
                                                <div class="h1 text-white font-thin no-m">51</div>
                                                <span class="text-muted text-xs text-white">Nouveaux messages</span>
                                        </a>
                                </div>
                                <div class="col-md-6">
                                        <a class="block panel bg-primary text-center wrapper">
                                                <div class="h1 text-white font-thin no-m">51</div>
                                                <span class="text-muted text-xs text-white">Appels en absence</span>
                                        </a>
                                </div>
                                <div class="col-md-6">
                                        <a class="block panel bg-dark text-center wrapper">
                                                <div class="h1 text-white font-thin no-m">51</div>
                                                <span class="text-muted text-xs text-white">Nouveaux messages</span>
                                        </a>
                                </div>
                                <div class="col-md-6">
                                        <a class="block panel bg-danger text-center wrapper" ">
                                                <div class="h1 text-white font-thin no-m">51</div>
                                                <span class="text-muted text-xs text-white">Appels en absence</span>
                                        </a>
                                </div>
                        </div>
                </div>
        </div>
</div>
 
<!-- /uidev view -->
