<div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                        <div class="container">
                                <a class="btn btn-navbar" data-toggle="collapse"
                                        data-target=".nav-collapse"> <span class="icon-bar"></span> <span
                                        class="icon-bar"></span> <span class="icon-bar"></span>
                                </a> <a class="brand" href="../">FXO WEB TOOLS</a>
                                <div class="nav-collapse collapse" id="main-menu">
                                        <ul class="nav" id="main-menu-left" role="navigation">
                                                <li><a href="/">Informations</a></li>
                                                <li><a href="/documentation">Documentation</a></li>
                                                <li><a href="/unittest">Tests unitaires</a></li>
                                                <li class="dropdown">
                            <a class="dropdown-toggle" id="tools" role="button" data-toggle="dropdown" href="#">Outils <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="tools">
                                              <li><a href="/dependencies">Dépendences de modules</a></li>
                                              <li class="divider"></li>
                                              <li><a href="/nodejsLib">Nodejs modules</a></li>
                                              <li class="divider"></li>
                                              <li><a href="/searchclientLib">Clients modules</a></li>
                                            </ul>
                                                </li>
                                        </ul>
                                        <!--  <ul class="nav pull-right" id="main-menu-right">
                                                <li><a rel="tooltip" href="/">Nodejs modules <i class="icon-share-alt"></i></a></li>
                                                <li><a rel="tooltip">Clients modules <i class="icon-share-alt"></i></a></li>
                                        </ul> -->
                                </div>
                        </div>
                </div>
        </div>
