{% extends "src/bundles/demoBundle/Resources/views/layouts/layout.html.twig" %}



{% block title %}  

	HTTP REQUEST 


{% endblock %}



{% block stylesheets %}
	{{ parent() }}

{% endblock %}


{% block javascripts %}
	{{ parent() }}

	<script>
		

	</script>

{% endblock %}

{% block body %}

	{{parent()}}

	<div class="container">

		<div class="row">
			<div class="panel panel-default ">
				<!-- Default panel contents -->
				<div class="panel-heading"><strong> RAW RESULT REQUEST PROXY HTTP GET on google.com    </strong></div>
				<div class="panel-body">
					<pre>
						{{bodyRaw}}
					</pre>
				</div>
			</div>
		</div>

	</div>



{% endblock %}
