{{trans_default_domain("webrtc")}}


<div class="row row-centered">
	<label id="invite-label" class="col-sm-6 col-sm-offset-3">
		<input id='invite' type="text" name="s" value="" placeholder="Compose ton numéro" style="color: black;" class="col-md-9 col-xs-12 col-centered">
		<input type="button" id='bt' class="col-md-3 col-xs-6 col-centered" value="Appeler" />
	</label>
</div>
<div class="row row-centered">
	<div id="remoteDiv" class="col-md-8 col-xs-12 row-centered">
	</div>
	<div id="myDiv" class="col-md-4 col-xs-12 row-centered">
		
	</div>
</div>




