{{trans_default_domain("webrtc")}}


<div class="row row-centered">
	<label id="invite-label" class="col-sm-6 col-sm-offset-3">
		<input id='invite' type="text" name="s" value="" placeholder="Compose ton numéro" style="color: black;" class="col-md-9 col-xs-12 col-centered">
		<input type="button" id='bt' class="col-md-3 col-xs-6 col-centered" value="Appeler" />
	</label>
</div>
<div class="row" >
	<div class="container-fluid" >
		<div class="row col-md-8">
			<div class="panel panel-default">
  				<div class="panel-heading">
    					<h3 class="panel-title">Participants</h3>
  				</div>
  				<div  id="remoteDiv" class="panel-body">
  				</div>
			</div>
		</div>

		<div class="row col-md-4">
			<div class="panel panel-default" >
  				<div class="panel-heading">
    					<h3 class="panel-title">{{login}}</h3>
  				</div>
  				<div  id="myDiv" class="panel-body">
					<div class="">
						<canvas id="canvas" ></canvas>
					</div>
  				</div>
			</div>
		</div>
			
	</div>
</div>




