{{trans_default_domain("doc")}}

<div class="page-header">
  <h1><strong>{{ "Dependency Injections" | trans() }} </strong> </h1>
	<p>
		A Dependency Injections service  is an entity that can manage instance of services in application .<br>
		 .<br>
	</p>

	<p>
		<center>
			<img src="/documentationBundle/images/injector.png" />
		</center>
	</p>
	<p>
	</p>

	<div class="alert alert-warning">
		Nodefony don't manage Dependency Injections like symfony2 framework but is inspired  <br> 	
	</div>
		
</div>

