<div class="page-header">
  <h1>Running Nodefony </h1>
</div>


<div class="doc2 jumbotron">

<p>
	<strong><h2>METHODS TO RUN NODEFONY FRAMEWORK </h2></strong>

	<ul>	
		<li>  Run Appliation in <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle ,queryString:{'subsection':'developement'} }) }}">DEVELOPEMENT </a> mode <code>./nodefony_dev</code></li>
		<li>  Run Appliation in <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle ,queryString:{'subsection':'production'} }) }}"> PRODUCTION </a>mode with clusters <code>./nodefony</code></li>
		<li>  Run Appliation in <a href="{{ path('documentation-section',{section:'running', version:version, bundle:bundle ,queryString:{'subsection':'pm2'} }) }}">PM2 MANAGEMENT </a>mode  <code>make start</code> see  <a href="http://pm2.keymetrics.io/">PM2</a> </li>
	</ul>
</p>


</div>







