<!DOCTYPE html>
<html>
    <head>
	{% block meta %}
		<meta charset="utf-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content="Nodefony (https://nodefony.net)">
		<meta name="keywords" content="web,Framework,realtime,node.js,symfony,javascript,npm,linux">
		<link rel="manifest" href="/app/manifest.json">
	{% endblock %}

	{% block description %}<meta name="description" content="web Framework realtime node.js symfony like">{% endblock %}

        <title>{% block title %}NODEFONY{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% block body %}{% endblock %}
	{% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
	{% block head %} {% endblock %}
    </body>
</html>
