<!DOCTYPE html>
<html>
    <head>
	{% block meta %}{% endblock %}
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{% block title %} NODEFONY ! {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
