<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	{% block meta %}{% endblock %}
        <title>{% block title %} Welcome NODEFONY FRAMEWORK ! {% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
	{% if nodefony.environment == "dev" %}
		{#% include 'vendors/nodefony/bundles/monitoringBundle/Resources/css/footerMonitoring.css.twig'  %#}
		{% include 'vendors/nodefony/bundles/monitoringBundle/Resources/views/footerMonitoring.html.twig' with {'nodefony': nodefony} %}
		{#% include 'vendors/nodefony/bundles/monitoringBundle/Resources/javascript/footerMonitoring.js.twig'  %#}
	{% endif %}
    </body>
</html>
