<!-- Footer -->
<footer class="page-footer font-small bg-light fixed-bottom">
  <!-- Copyright -->
  <div class="text-center py-3">© {{year|escape}} Copyright:{{project|escape}}
    <a href="/">{{nodefony.name|escape}}@{{nodefony.projectVersion|escape}}</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
