{% set  subtitle %}
	<p >Name	: {{ name }} &nbsp; &nbsp; &nbsp; 
	    Locale	: {{locale}} &nbsp; &nbsp; &nbsp;
	    Version	: {{version}} &nbsp; &nbsp; &nbsp;
	</p>
{% endset %}
{% set  title %}

	<h3> DESCRIPTIONS BUNDLE {{bundleName| upper}} </h3>

{% endset %}


{% include '../blocks/title.html.twig' with { 'title':title , 'subtitle': subtitle } %}


<div class="container-fluid">

	<div class="row m-t-10">

		<div class="col-md-3 ">
			
			<ul id="myNav" class="nav nav-list ">
				<li class="active" ><a  data-target="#config" data-toggle="tab" >Configuration</a></li>
				<li><a data-target="#routing"  data-toggle="tab"  > routing</a></li>	
				<li><a data-target="#views" data-toggle="tab" > views</a></li>
				<li><a data-target="#entities" data-toggle="tab" > entities</a></li>
				<li><a data-target="#events" data-toggle="tab" > Events</a></li>
			</ul>

		</div >


		<div class="col-md-9 " >


			<div class="tab-content">

				<div id="config" class="tab-pane active ">
  					<button stage-click="$('#json').JSONView('expand')" class="btn btn-primary btn-sm" id="expand-btn">Expand</button>
					<button stage-click="$('#json').JSONView('collapse')" class="btn btn-primary btn-sm" id="collapse-btn">Collapse</button>
  					<button stage-click="$('#json').JSONView('toggle')" class="btn btn-primary btn-sm" id="toggle-btn">Toggle</button>
  					<button stage-click="$('#json').JSONView('toggle',1)" class="btn btn-primary btn-sm" id="toggle-level1-btn">Toggle level1</button>
  					<button stage-click="$('#json').JSONView('toggle',2)" class="btn btn-primary btn-sm" id="toggle-level2-btn">Toggle level2</button>    
					<div id="json"></div>
				</div>


				<div id="routing" class="tab-pane ">
				</div>

				<div id="views" class="tab-pane ">
				</div>

				<div id="entities" class="tab-pane ">
				</div>

				<div id="events" class="tab-pane ">
				</div>
		
			</div>

		<div>

	<div>
<div>
