<div class="container-fluid">

	<div class="row m-t-10">

		<div class="col-md-3 ">
			
			<ul id="myNav" class="nav nav-list ">
				<li class="active" ><a  data-target="#requestNav" data-toggle="tab" >Configuration</a></li>
				<li><a data-target="#sessionNav"  data-toggle="tab"  > routing</a></li>	
				<li><a data-target="#twigNav" data-toggle="tab" > views</a></li>
				<li><a data-target="#securityNav" data-toggle="tab" > entities</a></li>
				<li><a data-target="#eventsNav" data-toggle="tab" > Events</a></li>
			</ul>

		</div >


		<div class="col-md-9 " >

		<div>

	<div>
<div>
