<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>SFR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="geo.placename" content="">

	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" media="screen">
	<link rel="stylesheet" href="/demoBundle/css/flickity.min.css" media="screen">
	<link rel="stylesheet" href="/demoBundle/css/style.css" media="screen">


	<script src="/demoBundle/js/jquery-1.11.2.min.js"></script>
	<script src="/demoBundle/js/flickity.pkgd.min.js"></script>
	<script src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<script src="/demoBundle/js/finder.js"></script>
	<!-- Awesome Font -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>


	{% for json in files %}
		{% for jsonTree in  json.children %}
			<a href="/finder?path={{jsonTree.path}}">{{jsonTree.name}}</a>
		{% endfor %}
	{% endfor %}

</body>
</html>

