<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://nodefony.com/schema/routing"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://nodefony.com/schema/routing http://nodefony.com/schema/routing/routing-1.0.xsd">

	<!-- MANAGE  DOCUMENTATION  -->
	<route id="documentation" pattern="/documentation">
		<default key="controller">demoBundle:demo:readme</default>
	</route>

	<!-- MANAGE  LOGIN AND CREATE ACCOUNT NOT SECURE  -->
	<route id="subscribe" pattern="/subscribe">
		<default key="controller">usersBundle:default:login</default>
	</route>

	<!-- MANAGE  LOGIN AND CREATE ACCOUNT NOT SECURE  -->
	<route id="loginAll" pattern="/login/{type}">
		<default key="controller">demoBundle:login:login</default>
	</route>

	<!-- MANAGE SECURE FOR AJAX CHALENGE AND FORM VALID -->
	<route id="demoSecure" pattern="/demo/secure">
		<default key="controller">frameworkBundle:default:401</default>
	</route>
	
	<route id="adduser" pattern="/adduser">
		<default key="controller">demoBundle:demo:addUser</default>
		<requirement key="method">POST</requirement>
	</route>

	<route id="demoLogout" pattern="/logout">
		<default key="controller">usersBundle:default:logout</default>
	</route>

	<!-- ROUTE SECURE FOR TEST FIRWALL AREA -->
	<route id="saslArea" pattern="/demo">
		<default key="controller">frameworkBundle:default:401</default>
	</route>
	<route id="localArea" pattern="/local">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<route id="basicArea" pattern="/basic">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<route id="digestArea" pattern="/digest">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<!-- GOOGLE -->
	<route id="googleArea" pattern="/auth/google">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<route id="googleCallBackArea" pattern="/auth/google/callback">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<!-- GITHUB -->
	<route id="githubArea" pattern="/auth/github">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<route id="githubCallBackArea" pattern="/auth/github/callback">
		<default key="controller">frameworkBundle:default:401</default>
	</route>

	<!-- HOME -->
	<route id="home" pattern="/">
		<default key="controller">demoBundle:demo:index</default>
	</route>

	<!-- UPLOAD -->
	<route id="upload" pattern="/upload">
		<default key="controller">demoBundle:demo:indexUpload</default>
		<requirement key="method">GET</requirement>
	</route>

	<route id="uploadFile" pattern="/fileupload">
		<default key="controller">demoBundle:demo:upload</default>
		<requirement key="method">POST</requirement>
	</route>

	<!-- ORM -->
	<route id="orm" pattern="/sequelize">
		<default key="controller">demoBundle:demo:sequelize</default>
		<requirement key="method">GET</requirement>
	</route>
	
	<route id="sql" pattern="/query/sql">
		<default key="controller">demoBundle:demo:querySql</default>
		<requirement key="method">GET</requirement>
	</route>

	<route id="sqlJoin" pattern="/query/join">
		<default key="controller">demoBundle:demo:querySqlJoin</default>
		<requirement key="method">GET</requirement>
	</route>

	<!-- SYSTEM -->
	<route id="syscall" pattern="/syscall">
		<default key="controller">demoBundle:demo:syscall</default>
		<requirement key="method">GET</requirement>
	</route>

	<route id="httpRequest" pattern="/httpRequest">
		<default key="controller">demoBundle:demo:httpRequest</default>
		<requirement key="method">GET</requirement>
	</route>

	<route id="xmlResponse" pattern="/xmlResponse">
		<default key="controller">demoBundle:demo:rawResponseSync</default>
		<requirement key="method">GET</requirement>
	</route>

	<route id="xmlAsyncResponse" pattern="/xmlAsyncResponse">
		<default key="controller">demoBundle:demo:rawResponseAsync</default>
		<requirement key="method">GET</requirement>
	</route>


	<!-- REALTIME --> 	
	<route id="indexReal" pattern="/demo/realtime">
		<default key="controller">demoBundle:demo:indexRealTime</default>
		<requirement key="method">GET</requirement>
	</route>

	<!-- FINDER -->
	<route id="finder"  pattern="/finder">
		<default key="controller">demoBundle:finder:index</default>
	</route>

	<route id="download"   pattern="/download">
		<default key="controller">demoBundle:finder:download</default>
		<requirement key="method">GET</requirement>
	</route>


	<!-- websoket -->
	<route id="websoket"  pattern="/websoket">
		<default key="controller">demoBundle:demo:websoket</default>
	</route>


	<!-- json -->
	<route id="json"  pattern="/json">
		<default key="controller">demoBundle:demo:json</default>
	</route>

	<!-- redirect -->
	<route id="redirect"  pattern="/redirect">
		<default key="controller">demoBundle:demo:redirectGoogle</default>
	</route>

	<!-- myroute -->
	<route id="myroute"  pattern="/myroute/{page}/{elements}">
		<default key="controller">demoBundle:demo:myroute</default>
		<default key="page">13</default>
		<default key="elements">myRouteDefaultValue</default>
		<requirement key="page">^\d\d$</requirement>
	</route>

	<!-- TODO -->	
	<!--  <import resource="routing2.xml" prefix="/prefix" />
	<import resource="routing3.xml" hostname_pattern="hello.example.com" />  -->

</routes>
