.nodefony-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.mt-6{
  margin-top: ($spacer * 4) !important;;
}

.mt-7{
  margin-top: ($spacer * 4.5) !important;;
}

.mt-8{
  margin-top: ($spacer * 5) !important;;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
