.nodefony-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.mt-6{
  margin-top: ($spacer * 4) !important;;
}

.mt-7{
  margin-top: ($spacer * 4.5) !important;;
}

.mt-8{
  margin-top: ($spacer * 5) !important;;
}
