
<div class="page-header">
  <h1><strong>Application</strong> </h1>

	<div class="alert alert-info" role="alert">
		<strong>
		Bundle Application is the entry point of framework, is the kernel instance of nodefony</br>
		App is a special bundle its behavior differs from other bundles<br>
		This Bunlde is responsible  for :
		<ul>
			<li>overloading Configurations and Views from other bundles </br>
		</ul>
		</strong>
	</div>
</div>

<h2 > You can see HERE :</h2>

<p>
	<ul>
		<li><a href="#location"> Location Bundle Application</a></li>
		<li><a href="#config"> Configuration Bundle Application</a></li>
		<li><a href="#entry"> Application  Entry Point</a></li>
	</ul>
<p>
<h2 name="location" id="location">Location Bundle Application  :</h2>
<div class="doc2">
	<p>
		You can find bundle repository under rootdir <code>./app</code> directory.

	</p>

	<pre>
$ ll app/

total 16
drwxr-xr-x  3 cci  staff  102 18 avr 10:55 Fixtures
drwxr-xr-x  6 cci  staff  204 28 jul 15:31 Resources
-rw-r--r--  1 cci  staff  395  3 jul 09:37 appKernel.js
drwxr-xr-x  6 cci  staff  204 31 jul 10:01 config
drwxr-xr-x  3 cci  staff  102 28 jul 14:25 controller
drwxr-xr-x  4 cci  staff  136 18 avr 10:55 doc
-rw-r--r--  1 cci  staff  400 18 jul 12:59 package.json

app/
├── Fixtures
├── Resources
│   ├── databases
│   │   └── nodefony.db
│   ├── public
│   │   ├── assets
│   │   │   ├── css
│   │   │   │   ├── app.css
│   │   │   │   └── app.css.map
│   │   │   ├── fonts
│   │   │   ├── images
│   │   │   └── js
│   │   │       ├── app.js
│   │   │       └── app.js.map
│   │   ├── css
│   │   │   └── app.css
│   │   ├── favicon.ico
│   │   ├── images
│   │   ├── js
│   │   │   └── app.js
│   │   ├── manifest.json
│   │   ├── robots.txt
│   │   └── sitemap.xml
│   ├── translations
│   │   ├── messages.en_en.yml
│   │   └── messages.fr_fr.yml
│   └── views
│       ├── base.html.twig
│       ├── footer.html.twig
│       └── index.html.twig
├── appKernel.js
├── config
│   ├── config.yml
│   ├── routing.yml
│   ├── security.yml
│   └── webpack
│       ├── webpack.common.js
│       ├── webpack.dev.config.js
│       └── webpack.prod.config.js
├── controller
│   └── appController.js
├── doc
│   ├── Beta
│   │   └── index.html.twig
│   └── Default -> Beta
└── package.json
	</pre>
</div>


<h2 name="config" id="config">Configuration Application  :<small> See <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:'nodefony', queryString:{'subsection':'application'} })}}">Application config</a></small> </h2>
<div class="doc2">
	<p>

	</p>

</div>


<h2 name="entry" id="entry">Application  Entry Point   :  <code style="text-transform: initial;">appKernel.js</code> <small>see <a href="{{ path('documentation-section',{section:'running', version:version, bundle:'nodefony',queryString:{'subsection':'developement'} })}}#script">Running Nodefony Startup Script </a></small></h2>
<div class="doc2">

	<p>
	<div class="alert alert-warning" role="alert">
			Contrary to other bundles, App bundle has :  </br>
			<ul>
				<li>
					No file pattern type :   <code>nameBundle.js</code> but  : <code> appKernel.js </code>

				</li>
			</ul>
		</div>
	</p>
	<p>
		<code>./app/appKernel.js</code>
	</p>
	<pre>
/*
 *
 *
 *
 *	ENTRY POINT FRAMEWORK APP KERNEL
 *
 *
 *
 *
 */
nodefony.register("appKernel",function(){

	var appKernel = class appKernel extends nodefony.kernel {

		constructor (type, environment, debug, loader, settings){

			// kernel constructor
			super(environment, debug, loader, type, settings)
		};
	};

	return appKernel;
})
	</pre>

</div>
