
<div class="page-header">
  <h1><strong>Application</strong> </h1>
	
	<div class="alert alert-info" role="alert">
		<strong>
		Bundle Application is the entry point of framework, is the kernel instance of nodefony</br>
		App is a special bundle its behavior differs from other bundles<br>
		This Bunlde is responsible  for : 
		<ul>
			<li>Add new bundles in framework</br>
			<li>Start servers (https,websocket ...) </br>
			<li>overloading Configurations and Views from other bundles </br>
		</strong>
	</div>	
</div>

<h2 > You can see HERE :</h2>

<p>
	<ul>
		<li><a href="#location"> Location Bundle Application</a></li>
		<li><a href="#config"> Configuration Bundle Application</a></li>
		<li><a href="#entry"> Application  Entry Point</a></li>
	</ul>
<p>
<h2 name="location" id="location">Location Bundle Application  :</h2>
<div class="doc2">
	<p>
		You can find bundle repository under rootdir <code>./app</code> directory.
		
	</p>

	<pre>
$ ll app/

total 8
drwxr-xr-x  3 cci  staff   102 19 nov  2015 Command
drwxr-xr-x  3 cci  staff   102 19 nov  2015 Fixtures
drwxr-xr-x  5 cci  staff   170  5 sep 11:14 Resources
-rw-r--r--  1 cci  staff  1213  5 sep 11:14 <strong>appKernel.js</strong>
drwxr-xr-x  8 cci  staff   272 11 oct 17:31 config
drwxr-xr-x  5 cci  staff   170 11 oct 17:27 doc

app/
├── <strong>appKernel.js</strong>
├── config
│   ├── config.yml
│   ├── parameters.yml
│   ├── routing.yml
│   └── security.yml
├── doc
│   ├── Beta
│   │   └── index.html.twig
│   └── Default -> Beta
├── Fixtures
└── Resources
    ├── databases
    │   └── nodefony.db
    ├── public
    │   ├── css
    │   ├── favicon.ico
    │   ├── images
    │   ├── js
    │   ├── manifest.json
    │   ├── robots.txt
    │   └── sitemap.xml
    └── views
        ├── base.html.twig
        └── usersBundle
            └── views
                └── login.html.twig

	</pre>
</div>


<h2 name="config" id="config">Configuration Application  :<small> See <a href="{{ path('documentation-section',{section:'configurations', version:version, bundle:'nodefony', queryString:{'subsection':'application'} })}}">Application config</a></small> </h2>
<div class="doc2">
	<p>
		
	</p>

</div>


<h2 name="entry" id="entry">Application  Entry Point   :  <code style="text-transform: initial;">appKernel.js</code> <small>see <a href="{{ path('documentation-section',{section:'running', version:version, bundle:'nodefony',queryString:{'subsection':'developement'} })}}#script">Running Nodefony Startup Script </a></small></h2>
<div class="doc2">

	<p>
	<div class="alert alert-warning" role="alert">
			Contrary to other bundles, App bundle has :    </br>
			<ul>
				<li>
					No file pattern type :   <code>nameBundle.js</code> but  : <code> appKernel.js </code>

				</li>
			</ul>
		</div>
	</p>
	<p>
		<code>./app/appKernel.js</code>
	</p>
	<pre>
/*
 *
 *
 *
 *	ENTRY POINT FRAMEWORK APP KERNEL
 *
 *
 *
 *
 */
nodefony.register("appKernel",function(){

	var appKernel = class appKernel extends nodefony.kernel {

		constructor (type, environment, debug, loader, settings){
			
			// kernel constructor
			super(environment, debug, loader, type, settings)

			/*
	 		*	Bundles to register in Application
	 		*/
			<strong>this.registerBundles([
				"./src/nodefony/bundles/documentationBundle",
				"./src/nodefony/bundles/unitTestBundle",
				"./src/bundles/demoBundle"
			]);</strong>

			/*
 		 	*
 		 	*	CREATE SERVERS HTTP / HTTPS / WEBSOCKET
 		 	*/
			if (type === "SERVER"){
				this.listen(this,"onPostReady", () => {
					// create HTTP server 
					var http = this.get("httpServer").createServer();

					// create HTTPS server
					var https = this.get("httpsServer").createServer();

					// create WEBSOCKET server
					var ws = this.get("websocketServer").createServer(http);

					// create WEBSOCKET SECURE server
					var wss = this.get("websocketServerSecure").createServer(https);
				});
			};
		};
	};

	return appKernel;
})
	</pre>

</div>
