html,body {
	height:100%;
}

.container,.panel {
	height:100%;
}

.icon-img{
	width:60px;
	height:60px;
}


.galerie {
	margin: 0 -10px;	
}	

.gallery .video {
	width: 50%;
	display: block;
	margin-right: -10px;
	overflow: hidden;
	padding: 10px;
}

.gallery .video-inner {
    	position: relative;
    	background: #fff;
    	border-radius: 3px 3px 0 0;
}

.gallery .video video, .gallery .video-inner {
	width: 100%;
    	-webkit-border-radius: 3px 3px 0 0;
    	-moz-border-radius: 3px 3px 0 0;
}

.gallery .video-info {
    	background: #fff;
    	padding: 15px;
    	-webkit-border-radius: 0 0 3px 3px;
    	-moz-border-radius: 0 0 3px 3px;
    	border-radius: 0 0 3px 3px;
}

.gallery .video-caption {
    	position: absolute;
    	top: 15px;
    	left: 0;
    	background: url(../img/transparent/black-0.6.png);
    	background: rgba(0,0,0,.6);
    	color: #fff;
    	padding: 5px 15px;
    	margin: 0;
}


.video-controls {
	top: -90px;
	float: left;
	position: relative;
	width: 100%;
	height: 0;
}

.video-controls .control-button {
	color: #4679BD;
	opacity: 0.8;
}

.video-controls .control-button:hover {
	color: #D6E6FC;
	opacity: 1;
}

.controls-identity {
	color:white;
	width: 50px;
	display: inline-table;
	overflow: hidden;
}



/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  	z-index: 2;
}

.isotope-hidden.isotope-item {
  	pointer-events: none;
  	z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  	-webkit-transition-duration: 0.8s;
     	-moz-transition-duration: 0.8s;
      	-ms-transition-duration: 0.8s;
       	-o-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
  	-webkit-transition-property: height, width;
     	-moz-transition-property: height, width;
      	-ms-transition-property: height, width;
       	-o-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
  	-webkit-transition-property: -webkit-transform, opacity;
     	-moz-transition-property:    -moz-transform, opacity;
      	-ms-transition-property:     -ms-transform, opacity;
       	-o-transition-property:      -o-transform, opacity;
        transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  	-webkit-transition-duration: 0s;
     	-moz-transition-duration: 0s;
      	-ms-transition-duration: 0s;
       	-o-transition-duration: 0s;
        transition-duration: 0s;
}

/* End: Recommended Isotope styles */

