

{% for key, ele in events %}
		
<h3>EVENT  : {{key}}</h3>
<div class="wrapper" >
	<div class="table-responsive" >
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>KEY</th>
					<th>VALUE</th>
				</tr>
			</thead>
			<tbody>
			{% for data, value in ele %}
			
			<tr>
				<td>{{data}}</td>
				<td>{{value}}</td>
			</tr>


			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

	

{% endfor %}


