{% include '../blocks/title.html.twig' with { 'title': 'REQUEST PROFILER', 'subtitle':  url   } %}	
<div class="container">

	<h1>Request</h1>
	<h1>Response</h1>
	<h1>Session</h1>
	<h1>Firewall</h1>


</div>
