{{trans_default_domain("doc")}}


<a href="https://github.com/ccamensuli/nodefony"><img style="position: fixed; top: 51px; right: 0; border: 0;z-index:8000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>


<div class="page-header">
  <h1>INSTALLATION </h1>
</div>


<h2 name="requirements">Requirements :</h2>

<div class="doc2">
	<ul>
		<li><a href="https://nodejs.org/">Node.js</a> is a Platform built on Chrome's JavaScript runtime<p>Install Node.js <a href="https://nodejs.org/en/download/package-manager"> via Package</a></p></li>
		<li><a href="https://www.npmjs.com/">NPM</a> is the Package Manager for javascript application</li>
		<li><a href="http://git-scm.com/">GIT</a> is Distributed version control system</li>
		<li><a href="https://www.gnu.org/software/make/">GNU Make</a> is a Tool which controls the generation of executables</li>



	</ul>
</div>

<h2 name="system">OS compatibility :</h2>
<div class="doc2">
	<ul>
		<li> LINUX ( Checked )</li>
		<li> MACOS ( Checked )</li>
		<li> <s> WINDOWS </s>( Unchecked )</li>
		<li> <s> EMBEDDED SYSTEM</s> ( Unchecked )</li>

	</ul>
</div>



<h2 name="system">Clone sources from github :</h2> 
<div class="doc2">
	<pre>

	$ git clone https://github.com/ccamensuli/nodefony.git

	$ cd nodefony

	</pre>
</div>

<h2 name="system">Build Nodefony Sources :</h2>
<div class="doc2">
<p>
	This part consist to call differents targets of Makefile <a href="{{ path('documentation-section',{section:'installation', version:version, bundle:bundle,queryString:{'subsection':'makefile'} })}}">(see Makefile documentation) </a><br> 

	This tagets do multiple tasks as : <br>
	<ul>	
		<li> Create some framework directories </li>
		<li> Install Framework dependences  of NPM package manager ( see package.json )</li>
		<li> Install Bundles dependences of NPM package manager ( see package.json in bundle directory )</li>
		<li> Create Assets link in public directory </li>
		<li> Create Nodefony Database (manage sessions, monotoring ,users)</li>
	</ul>	

</p>	 

<pre>

$ make


</pre>

<p>
	Example after Build The repository
</p>

<pre>

$ ls -l

-rw-r--r--    1 cci  staff  22696 19 nov  2015 LICENSE
-rw-r--r--    1 cci  staff   2027  5 sep 11:14 Makefile
-rw-r--r--    1 cci  staff  12964 22 sep 11:42 README.md
drwxr-xr-x    9 cci  staff    306 22 sep 14:28 app
drwxr-xr-x    4 cci  staff    136 22 jui 13:57 bin
drwxr-xr-x    5 cci  staff    170 22 jui 13:57 config
-rwxr-xr-x    1 cci  staff    513 22 jui 13:57 console
lrwxr-xr-x    1 cci  staff     16 22 sep 11:37 doc -> src/nodefony/doc
drwxr-xr-x  291 cci  staff   9894 22 sep 11:08 node_modules
-rwxr-xr-x    1 cci  staff   1360 22 jui 13:57 nodefony
-rwxr-xr-x    1 cci  staff    552 22 jui 13:57 nodefony_dev
-rwxr-xr-x    1 cci  staff   1178  5 sep 11:14 nodefony_pm2
-rw-r--r--    1 cci  staff   1102  5 sep 11:14 package.json
drwxr-xr-x    7 cci  staff    238 22 jui 12:09 src
drwxr-xr-x    6 cci  staff    204 16 jui 17:22 tmp
drwxr-xr-x    7 cci  staff    238 22 jui 13:57 vendors
drwxr-xr-x   17 cci  staff    578 22 sep 11:08 web
</pre>
</div>


<h2 >References  :</h2>
<div class="doc2">


<p>
	Dependencies will be automatically installed by Makefile
</p>


<pre>
.------------------------------------------------------------------------------------------------------------------------------------------------.
|							NPM NODEFONY PACKAGES									 |
|------------------------------------------------------------------------------------------------------------------------------------------------|
|      NAME      | VERSION |                                    DESCRIPTION                                                                      |
|----------------|---------|---------------------------------------------------------------------------------------------------------------------|
| less           | 2.7.1   | Leaner CSS                                                                                                          |
| memcached      | 2.2.2   | A fully featured Memcached API client,										 |
| qs             | 6.2.1   | A querystring parser that supports nesting and arrays, with a depth limit                                           |
| redis          | 2.6.2   | Redis client library                                                                                                |
| sequelize      | 3.24.3  | Multi dialect ORM for Node.JS/io.js                                                                                 |
| uglify-js      | 2.7.3   | JavaScript parser, mangler/compressor and beautifier toolkit                                                        |
| uglifycss      | 0.0.21  | Port of YUI CSS Compressor to NodeJS                                                                                |
| webrtc-adapter | 2.0.3   | A shim to insulate apps from WebRTC spec changes and browser prefix differences                                     |
| ascii-table    | 0.0.9   | Easy tables for your console data                                                                                   |
| asciify        | 1.3.5   | Plain text awesomizer. A hybrid npm module and CLI for turning plain text into ascii art.                           |
| connect        | 2.30.2  | High performance middleware framework                                                                               |
| cookie         | 0.3.1   | HTTP server cookie parsing and serialization                                                                        |
| js-yaml        | 3.6.1   | YAML 1.2 parser and serializer                                                                                      |
| markdown-it    | 8.0.0   | Markdown-it - modern pluggable markdown parser.                                                                     |
| mime           | 1.3.4   | A comprehensive library for mime-type mapping                                                                       |
| mkdirp         | 0.5.1   | Recursively mkdir, like `mkdir -p`                                                                                  |
| mysql          | 2.11.1  | A node.js driver for mysql. It is written in JavaScript, does not require compiling, and is 100% MIT licensed.      |
| node-getopt    | 0.2.3   | featured command line args parser                                                                                   |
| node-pre-gyp   | 0.6.30  | Node.js native addon binary install tool                                                                            |
| nodegit        | 0.16.0  | Node.js libgit2 asynchronous native bindings                                                                        |
| npm            | 3.10.8  | a package manager for JavaScript                                                                                    |
| npmi           | 2.0.1   | Gives a simplier API to npm install (programatically installs stuffs)                                               |
| pm2            | 2.0.18  | Production process manager for Node.JS applications with a built-in load balancer.                                  |
| promise        | 7.1.1   | Bare bones Promises/A+ implementation                                                                               |
| shortid        | 2.2.6   | Amazingly short non-sequential url-friendly unique id generator.                                                    |
| sqlite3        | 3.1.4   | Asynchronous, non-blocking SQLite3 bindings                                                                         |
| twig           | 0.9.5   | JS port of the Twig templating language.                                                                            |
| websocket      | 1.0.23  | Websocket Client & Server Library implementing the WebSocket protocol as specified in RFC 6455.                     |
| xml2js         | 0.4.17  | Simple XML to JavaScript object converter.                                                                          |
'------------------------------------------------------------------------------------------------------------------------------------------------'

</pre>
</div>

<a href="{{ path('documentation-section',{section:'started', version:version, bundle:bundle })}}"> <button type="button" class="btn btn-primary">{{"begin" | trans()}}</button></a>
