<!-- 404 view -->
<div class="app-header"></div>
<div class="container w-xxl">
	<div class="h1 text-center font-thin">500</div>
	<p class="text-center">Erreur de serveur interne</p>
		<pre class="text-center">{{error}}</pre>
	<a href="" class="block m-auto m-t-sm m-b btn btn-primary w btn btn-primary">
		<i class="fa fa-fw fa-mail-forward m-r-xs"></i>
		Retour à l'application
	</a>
	{% include '../../../app/Resources/views/footer.html.twig' %}
</div>
<!-- /404 view -->
