<div class="panel no-b">
	<div class="panel-heading wrapper b-b b-light">
		<span class="text-xs text-muted pull-right">
			<i class="fa fa-level-up text-primary m-r-xs"></i> Émis
			<i class="fa fa-level-down text-primary m-r-xs m-l-sm"></i> Reçus
			<i class="fa fa-level-down text-danger m-r-xs m-l-sm"></i> Absence
		</span>
		<h4 class="no-m font-thin text-muted">Dernières activités {{param.title}}  </h4>
	</div>
	<ul  class="list-group list-group-lg">
		{% for pdu in syslog %}
			<li class="list-group-item b-light">
			<span class="pull-right">
				<span class="text-muted text-xs">{{pdu.timeago}}</span>
				<a href="" class="text-muted"><i class="icon icon-action-redo m-l-sm"></i></a>
			</span>
			{% if param.msgid  %}
				<a href=""><i class="fa fa-level-down text-primary m-r-xs"></i>{{pdu.msgid}}</a>
			{%endif%}
			<a href=""><i class=" text-primary m-r-xs"></i>{{pdu.payload}}</a>
			</li>
		{% endfor %}
	</ul>
</div>
