<div class="monitor" >
        {% block stylesheets %} {% endblock %}
	
	<div class="debugContent">
	</div>
	<div class="debugBar">
		{% block debugBar %} {% endblock %}
	</div>
        {% block javascripts %} {% endblock %}
</div>

