<link href="/frameworkBundle/css/style.css" rel="stylesheet" media="screen">
<link href="/monitoringBundle/css/footer.css" rel="stylesheet"/>


	<div class="  navbar-inverse  navbar-fixed-bottom monitor">
		<div class="container-fluid">
    			<!-- Brand and toggle get grouped for better mobile display -->
    			<div class="navbar-header b-r">
				
      				<a class="navbar-brand" href="/monitoring"><i class="glyphicon glyphicon-fire text-warning icon-shadow"></i>  {{nodefony.name}} &nbsp; {{nodefony.system.version}}</a>
    			</div>
    			<!-- Collect the nav links, forms, and other content for toggling -->
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav b-r">
					<li class="b-r"><a>{{appSettings.projectName}}</a></li>
					<li class="b-r"><a>{{environment}}</a></li>
        				<!--li class=""><a target="_blank" href=""> <span class="sr-only">(current)</span></a></li>
        				<li><a target="_blank" href=""></a></li-->
        				<li class="dropdown">
          				<a href="#/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> MONITORING <span class="caret"></span></a>
          				<ul class="dropdown-menu" role="menu">
            					<li><a href="/monitoring#/routing"> <i class="glyphicon glyphicon-random text-warning icon-shadow"></i>   Routing</a></li>
            					<li><a href="/monitoring#/services">  Services</a></li>
            					<li class="divider"></li>
          				</ul>
        				</li>
      				</ul>
      				
      				<ul class="nav navbar-nav navbar-right">
        				<li><a href="#">Link</a></li>
        				<li class="dropdown">
          				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          				<ul class="dropdown-menu" role="menu">
            					<li><a href="#">Action</a></li>
            					<li><a href="#">Another action</a></li>
            					<li><a href="#">Something else here</a></li>
            					<li class="divider"></li>
            					<li><a href="#">Separated link</a></li>
          				</ul>
        				</li>
      				</ul>
    			</div><!-- /.navbar-collapse -->
  		</div><!-- /.container-fluid -->
	</div>

<script type="text/javascript" src="/monitoringBundle/js/footer.js"></script>
