{% extends "/app/Resources/views/base.html.twig" %}


{% block title %} {{title}} {% endblock %}


{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/frameworkBundle/css/style.css" rel="stylesheet" media="screen">

{% endblock %}


{% block body %}
	{% block navBar %}
		{{render( controller('usersBundle:default:connect', login) )}}
	{% endblock %}
	
	{% block content %}
		<div class="container">
			<div class="row">
				{% block navContent %}{% endblock %}
			</div>
			<div class="row">
				{% block bodyContent %}{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}


{% block javascripts %}
	<script type="text/javascript" src="/frameworkBundle/vendors/jquery/jquery-2.1.0.js"></script>
	<script type="text/javascript" src="/frameworkBundle/vendors/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/vendors/stage/stage.js"></script>
	<script type="text/javascript" src="/vendors/stage/function.js"></script>
	<script type="text/javascript" src="/vendors/stage/notificationsCenter.js"></script>
	<script type="text/javascript" src="/vendors/stage/syslog/syslog.js"></script>

{% endblock %}


