{{trans_default_domain("doc")}}


<h1> Syslog  </h1>
<hr>

<div class="alert alert-info" role="alert">
	<strong>
		Syslog manage all log in Nodefony .</br>
	</strong>
</div>	


<h2>Syslog Create instance : </h2>

<pre>
var settingsSyslog = {
	moduleName:"KERNEL",
	defaultSeverity:"INFO"
};

var syslog = new <strong>nodefony.syslog</strong>( settingsSyslog );
</pre>


<h2> Syslog Listener  :  </h2>
<p>
</p>
<pre>

</pre>

<h2> Syslog Logger :  </h2>
<p>
</p>
<pre>

</pre>






