/*
 *
 *
 *
 */

.panel{
	background-color: #efefef;
	border: 1px solid #ccc;
}

.panel.info{
	color:black;

}

.panel .head {
	background-image: -moz-linear-gradient(center top , #f9f9f9 0%, #e5e5e5 100%);
	border-bottom: 1px solid #ccc;
}

.panel .head .title {
	font-weight: bold;
	font-size: 14px;
	color: red;
}

