{% extends '../base.html.twig' %}

{% block body %}

  {% block header %}
    {{ render( controller("app:app:header")) }}
  {% endblock %}

  <div class="container mt-8">
    <div class="row">
      <div class="col-md-12">
        {{readme}}
      </div>
    </div>
  </div>

  {% block footer %}
    {{ render( controller("app:app:footer")) }}
  {% endblock %}

{% endblock %}
