
<div class="page-header">
	<h1>Application Configuration</h1>
	<p>
		 Bundle Application is a special bundle in  app directory you can find a 'config' directory  <br>
				
		<h2 > You can see here :</h2>

		<p>
			<ul>
				<li><a href="#global_application">Goblal Configuration</a></li>
				<li><a href="#routing_application">Routing Configuration</a></li>
				<li><a href="#firewall_application">Firewall Configuration</a></li>
				<li><a href="#override">Override Configuration</a></li>
			</ul>
		<p>

	<p>
</div>
	
<h2>Location configurations in File System <span class="badge">Directory</span></h2>
<div class="doc2">
Location : <code>./app/config</code>
<pre>
app/config/

├── config.yml
├── routing.yml
└── security.yml

</pre>
</div>


<h2 id="global_application" >Goblal Configuration <span class="badge">File</span> </h2>
	
<div class="doc2">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> Application Global Configuration </div>
  <div class="panel-body">

	<p>
		
	</p>
  	  <div class="doc3">
  		  <div class="alert alert-info" role="alert">
  			  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  			  Application  is a Bundle with special comportement <br>
			  This file override configuration of multiple Third-Party Bundles   
  		  </div>
  	  </div>


	  Location : <code>./app/config/config.yml</code>
    	  <pre>
#####################
#
#  FRAMEWORK NODEFONY
#
#     APP CONFIG  
name :                          AppBundle
locale :                        en_en
version :                       "Beta"

App:
  projectName:                  "nodefony" 
  projectYear:                  2016 
  locale:                       "en_en"
  authorName:                   "admin"
  authorMail:                   "admin@nodefony.com"

lang:
  en_en:                        "english"
  fr_fr:                        "français"


##########
#
#  WEBPACK
#
# Assets root path is ./Resources/public
#
webpack:
  entry:
    main:                       "./js/app.js"
  watch:                        false
  devtool:                      "source-map"
  output:
    filename:                   "./assets/js/app.js"
    library:                    "app"
    libraryTarget:              "umd"

	  </pre>
  </div>

  <table class="table">
	<thead>
		<th class="config-parameters">Parameters</th>
		<th>Description</th>
		<th>Data Type</th>
		<th>Example / <span class="badge">Default</span> </th>
	</thead>
	  <tbody>	
	  <tr> 
		  <td class="config-parameters">name</td>
		  <td>Bundle Name</td>
		  <td>String</td>
		  <td>AppBundle</td>
	  </tr>	
	  <tr> 
		  <td class="config-parameters">version</td>
		  <td>Bundle Version </td>
		  <td>String</td>
		  <td>1.0</td>
	  </tr>
	  <tr> 
		  <td class="config-parameters">locale</td>
		  <td>I18n Bundle locale</td>
		  <td>String</td>
		  <td>en_en</td>
	  </tr>

	  <tr>
		  <td class="config-parameters">App.projectName</td> 
		  <td>
			  Name of Application (project) 
		  </td>
		  <td>String</td>
		  <td></span></td> 
	  </tr>
	  <tr> 
		  <td class="config-parameters">App.projectYear</td>
		  <td>
			Year Application 
		  </td>
		  <td>String</td>
		  <td></td>
	  </tr>
	  <tr> 
		  <td class="config-parameters">App.locale</td>
		  <td>
			Application locale i18n  
		  </td>
		  <td>String</td>
		  <td><span class="badge">en_en</span></td>
	  </tr>
	  <tr> 
		  <td class="config-parameters">App.authorName</td>
		  <td>Author </td>
		  <td>String</td>
		  <td></td>
	  </tr>
	  <tr> 
		  <td class="config-parameters">App.authorMail</td>
		  <td>
			  Author email 
		  </td>
		  <td>String</td>
		  <td></td>
	  </tr>
	  <tr> 
		  <td class="config-parameters">lang</td>
		  <td>
			  All langs enable in Application 
		  </td>
		  <td>Object</td>
		  <td></td>
	  </tr>
	  <tr> 
		  <td class="config-parameters">webpack</td>
		  <td>
		      Module bundler for assets management of application see <a href="https://webpack.js.org/">WEBPACK</a>. 
		  </td>
		  <td>Object</td>
		  <td></td>
	  </tr>


	  </tbody>  
  </table>

  </div>

</div>


<h2 id="routing_application" >Application Routing Configuration <span class="badge">File</span> </h2>
<div class="doc2">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> Application Routing Configuration </div>
  <div class="panel-body">
	  <p>Location : <code>./app/config/routing.yml</code></p>
	  <pre>
Default:
  pattern:  /
  defaults: 
    controller: demoBundle:demo:login
  

readme:
    pattern:   /readme 
    defaults:  
      controller: frameworkBundle:default:readme    


	  </pre>
  </div>
</div>
</div>


<h2 id="firewall_application" >Application Firewall Configuration <span class="badge">File</span> </h2>

<div class="doc2">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> Application Firewall Configuration </div>
  <div class="panel-body">
	  <p>Location : <code>./app/config/security.yml</code></p>
	  <pre>
# Security
security:

    # change security context (multi secure areas) 
    session_fixation_strategy:  migrate  # the strategy can be: none, migrate, invalidate

	  </pre>
  </div>
</div>
</div>


<h2 id="override">Override GLOBAL CONFIGURATION from Third-Party Bundles :</h2>
	<div class="doc2">
		<p>
			To override global configuration from Third-Party Bundles you can write in config.yml (root yaml node) the full name of bundle	
		</p>
		<div class="alert  alert-info" role="alert">
			WARNING to the order Registration bundles <br>
			If you want override a config of Third-Party bundle, this one must be register before the bundle config file  who make the override
		</div>
		Example <code>./app/config/config.yml </code>	
		<pre>
....

##################################
#
#       OVERRIDE  BUNDLE SEQUELIZE  
#       
#       see SEQUELIZE BUNDLE config for more options
#
#       Nodefony Database Management
#
#       By default nodefony create  connector name nodefony ( driver sqlite )
#       for manage Sessions / User 
#
#
#       here create new databases connectors ( example mysql) 
#
#
sequelizeBundle: 
  debug:        false
  connectors:                    
    nodefony:
      driver:          mysql
      dbname:          'nodefony'
      username:        'username'
      password:        'password'
      options:
        dialect:       mysql
        host:          localhost
        port:          '3306'


#
#       OVERRIDE BUNDLE MONITORING
#
#       see MONITORING BUNDLE config for more options
#
#
<strong>monitoringBundle:</strong>
debugBar:                     true
#storage:                      false

....


// STARTED NODEFONY SYSLOG :   
Mon Oct 03 2016 17:10:41 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : sequelize
Mon Oct 03 2016 17:10:41 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : monitoring
		</pre>	
		
	</div>


