
<div class="page-header">
	<h1> Views  and  Templates  <span class="label label-success" style="font-size: 50%;"> {{version}} </span></h1>
</div>


<div class="container-fluid">

	<h2>Nodefony views </h2>
	<h3> Location </h3>
	<div class="doc3">
		<p>
			In Resources directory bundles you can find a 'views' directory  <br>
			
		<p>
		<pre>
src/nodefony/bundles/documentationBundle/Resources/
│   
└── views
    ├── index.html.twig
    ├── layouts
    │   ├── documentationLayout.html.twig
    │   └── navSection.html.twig
    ├── navDocBundle.html.twig
    └── navDoc.html.twig

		</pre>		
	</div>

	<h3>Template Naming  </h3>
	<div class="doc3">
		<p>
			Framework Registred Template as pattern <strong> 'bundle:directory:filename'</strong> <br>
		</p>
	
		View Pattern format  : <strong>documentationBundle::index.html.twig</strong> 
		<table border="1" class="table">
			<colgroup>
				<col width="25%">
				<col width="25%">
				<col width="25%">
				<col width="25%">
			</colgroup>
			<thead valign="bottom">
				<tr class="">
					<th class="">Bundle</th>
					<th class="head">Directory</th>
					<th class="head">filename</th>
				</tr>
			</thead>
			<tbody valign="top">
			<tr class="">
				<td><code class="">documentationBundle</code></td>
				<td><code class="">.</code></td>
				<td><code class="">index.html.twig</code></td>
			</tr>
			</tbody>
		</table>

	</div>

	<h3>Autoloader  </h3>
	<div class="doc3">
		When nodefony start :  All templates in views directory in bundle will be Registred and compiled by Template Engine

		<div class="alert  alert-info" role="alert">
			<ul>
				<li>In Developement mode :  Nodefony kernel reload files, recompile and parse Templates who are use in request</li> 
				<li>In Production mode :    Nodefony kernel cache all Templates compilations and just parse the compiled template with dynamics variables  </li>
			</ul>
			
		</div>
		<pre>

LOG WHEN NODEFONY START : 

Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle::index.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle::index.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle:layouts:documentationLayout.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle:layouts:documentationLayout.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle:layouts:navSection.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle:layouts:navSection.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle::navDoc.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle::navDoc.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : Register Template : 'documentationBundle::navDocBundle.html'
Mon Oct 03 2016 14:32:49 DEBUG BUNDLE DOCUMENTATION  : COMPILE Template : 'documentationBundle::navDocBundle.html'


LOG WHEN CALL CONTROLLER IN DEVELOPMENT MODE:

Tue Jan 24 2017 17:51:40 INFO HTTPS REQUEST  : REQUEST GET FROM : 127.0.0.1 HOST : localhost:5152 URL :/documentation/Beta/framework/view
Tue Jan 24 2017 17:51:40 WARNING AUTOLOADER RELOAD FORCE  : /Users/cci/repository/nodefony/src/nodefony/bundles/documentationBundle/controller/defaultController.js
		</pre>		

	</div>


	<h2>Nodefony template </h2>
	<div class="doc2">
		<p>
		Nodefony use <a href="https://github.com/twigjs/twig.js" >twig.js</a>  : JS port of the Twig templating language of symfony framework See more <a href="http://twig.sensiolabs.org/">( twig.sensiolabs.org )</a>. 
		<p>
		

	</div>
	

	<h3> Base Template bundle app </h3>
	<div class="doc3">
		<p>
			Nodefony has a Base Template in Bundle Application  <code>./app/Resources/views/base.html.twig</code>
		</p>
		<pre>
			<code> 
&lt;!DOCTYPE html>
&lt;html&gt;
    &lt;head&gt;
	&#123;% block meta %&#125; 
		&lt;meta charset="utf-8"&gt;
		&lt;meta http-equiv="content-type" content="text/html; charset=UTF-8"&gt;
		&lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
		&lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
		&lt;meta name="description" content="web Framework realtime node.js symfony like"&gt;
		&lt;meta name="keywords" content="web,Framework,realtime,node.js,symfony,javascript,npm,linux"&gt;
		&lt;link rel="manifest" href="/app/manifest.json"&gt;
	&#123;% endblock %&#125;
        &lt;title&gt;&#123;% block title %&#125;NODEFONY&#123;% endblock %&#125;&lt;/title&gt;
        &#123;% block stylesheets %&#125;&#123;% endblock %&#125;
    &lt;/head&gt;
    &lt;body&gt;
	&#123;% block body %&#125;&#123;% endblock %&#125;
	&#123;% block footer %&#125;&#123;% endblock %&#125;
        &#123;% block javascripts %&#125;&#123;% endblock %&#125;
&lt;/body&gt;
&lt;/html&gt;
			</code>
		</pre>

	<p>
	You can see  differents Twig block    <code>meta</code> <code>title</code>  <code>stylesheets</code>  <code>body</code> <code>footer</code>  <code>javascripts</code>
		
	</p>
	
	</div>

	<h3> Example Template Inheritance and Layouts </h3>
	<div class="doc3">

		<p>
			Example  Layout : <code>./src/bundles/demoBundle/Resources/views/layouts/layout.html.twig  </code>
		</p>
		<pre>
<strong>&#123% extends "/app/Resources/views/base.html.twig" %&#125</strong>

&#123% block title %&#125 &#123&#123 title &#125&#125 &#123% endblock %&#125

&#123% block stylesheets %&#125
	&#123% stylesheets  output="/demoBundle/assets/css/layout.css" filter="?uglifycss" 
	    "/frameworkBundle/vendors/bootstrap/css/bootstrap.css"
	    "/frameworkBundle/vendors/bootstrap/css/bootstrap-theme.css"
            "/frameworkBundle/vendors/font-awesome/css/font-awesome.min.css"
            "/demoBundle/clean/assets/css/style.css"
        %&#125
            &ltlink rel="stylesheet" href="&#123&#123 asset_url &#125&#125" /&gt
        &#123% endstylesheets %&#125
&#123% endblock %&#125

&#123% block javascripts %&#125
	&#123% javascripts output='/demoBundle/assets/js/layout.js' filter='?uglifyjs2'
		'/frameworkBundle/vendors/jquery/jquery-2.1.4.min.js'
		"/frameworkBundle/vendors/bootstrap/js/bootstrap.js"
		"/vendors/stage/stage.js" 
		"/vendors/stage/function.js" 
		"/vendors/stage/notificationsCenter.js" 
		"/vendors/stage/syslog/syslog.js" 
		"/vendors/stage/io/io.js" 
		"/vendors/stage/xml.js" 
	%&#125
		&ltscript type="text/javascript" src="&#123&#123 asset_url &#125&#125"&gt&lt/script&gt
	&#123% endjavascripts %&#125
&#123% endblock %&#125

&#123% block body %&#125
	&ltheader class="header"&gt
		&#123&#123 render( controller("demoBundle:demo:nav", login )) &#125&#125
	&lt/header&gt
&#123% endblock %&#125

&#123% block footer %&#125
	&ltfooter&gt
		&#123&#123 render( controller("demoBundle:demo:footer" )) &#125&#125
	&lt/footer&gt
&#123% endblock %&#125
		</pre>


	<p>
		Example  extended Page  : <code>./src/bundles/demoBundle/Resources/views/orm/orm.html.twig  </code>
	</p>

	<pre>
<strong> &#123% extends "src/bundles/demoBundle/Resources/views/layouts/layout.html.twig" %&#125</strong>

&#123% block title %&#125 ORM  &#123% endblock %&#125

&#123% block stylesheets %&#125
	<strong>&#123&#123 parent() &#125&#125</strong>

	// ADD stylesheets here
	&ltlink rel="stylesheet" href="/frameworkBundle/vendors/dataTable/css/dataTables.bootstrap.min.css" /&gt

&#123% endblock %&#125

&#123% block javascripts %&#125
	<strong>&#123&#123 parent() &#125&#125</strong>
	// ADD javascripts files or script here
	&ltscript type="text/javascript" src="/frameworkBundle/vendors/dataTable/js/jquery.dataTables.js"&gt&lt/script&gt
	&ltscript type="text/javascript" src="/frameworkBundle/vendors/dataTable/js/dataTables.bootstrap.js"&gt&lt/script&gt

	&ltscript&gt
		$(document).ready(function()&#123

			$("table").DataTable()	
		&#125)
	&lt/script&gt
&#123% endblock %&#125

&#123% block body %&#125
	<strong>&#123&#123parent()&#125&#125</strong>
	&lttable class="table table-striped table-bordered"&gt
		&ltthead&gt
			&lttr&gt
				&ltth&gtUSER ID&lt/th&gt
				&ltth&gtSESSION ID&lt/th&gt
				&ltth&gtSESSION CONTEXT&lt/th&gt
			&lt/tr&gt
		&lt/thead&gt
		&lttbody&gt
			&#123% for session in sessions %&#125
			&lttr&gt
				&lttd&gt&#123&#123session.user_id&#125&#125&lt/td&gt
				&lttd&gt&#123&#123session.session_id&#125&#125&lt/td&gt
				&lttd&gt&#123&#123session.context&#125&#125&lt/td&gt
			&lt/tr&gt
			&#123% endfor %&#125
		&lt/tbody&gt
	&lt/table&gt
&#123% endblock %&#125
	</pre>

</div>
	<h2>Override Templates from Third-Party Bundles </h2>
	<div class="doc2">
		<p>

		</p>
	</div>
</div>
