@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
//@import './awesome/font-awesome.config.js';

@import "./users.scss";

// Custom.scss
// Option B: Include parts of Bootstrap
// Required
/*@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";*/
