@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);

.hello {
  text-align: center;
}

.hello h1 {
  font-family: 'Gochi Hand', cursive;
  color: #0167b8;
  letter-spacing: 0;
  font-size: 4em;
  text-transform: none;
}

.nodefony{
  font-family: 'Comfortaa', cursive;
}

.nodefony h1 {
  text-align: center;
  font-family: 'Gochi Hand', cursive;
  color: #0167b8;
  letter-spacing: 0;
  font-size: 4em;
  text-transform: none;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nodefony-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.mt-6{
  margin-top: ($spacer * 4) !important;;
}

.mt-7{
  margin-top: ($spacer * 4.5) !important;;
}

.mt-8{
  margin-top: ($spacer * 5) !important;;
}
