{{trans_default_domain("doc")}}



<h1> {{ "configurations" | trans() | capitalize() }}</h1>
<hr>


	<h2>Location configurations in File System  </h2>

		<h3> CONFIGURATION FRAMEWORK </h3>
		<div class="doc3">
			<p>
				 In Root directory you can find a 'config' directory  <br>
				
			<p>
			<pre>
./config/

├── certificates
│   ├── letsCert.pem
│   ├── letsChain.pem 
│   ├── letsFullChain.pem 
│   ├── letsKey.pem 
├── config.yml -> ../vendors/nodefony/config/config.yml
└── pm2.json
			</pre>

		</div>

		<h3> CONFIGURATION BUNDLE APPLICATION </h3>
		<div class="doc3">

			<p>
				 Bundle Application is a special bundle in  app directory you can find a 'config' directory  <br>
				
			<p>
			<pre>
./app/

├── config
│   ├── config.yml
│   ├── routing.yml
│   └── security.yml
			</pre>
		</div>

		<h3> CONFIGURATION BUNDLES </h3>
		<div class="doc3">
			<p>
				 In Resources directory you can find a 'config' directory  <br>
				
			<p>
			<pre>
./src/nodefony/bundles/documentationBundle/Resources/config/

├── config.yml
└── routing.yml
			</pre>		

		</div>	

		<div class="doc3">
			<div class="alert  alert-info" role="alert">
				<ul>
					<li>In Developement mode :  Nodefony kernel Don't reload config files,You must restart nodefony  !!!  </li> 
				</ul>
			</div>
		</div>
		

		

		<h3>Override Config from Third-Party Bundles </h3>
		<div class="doc3">
			<p>

			</p>
		
			<pre>
Mon Oct 03 2016 17:10:41 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : monitoring
Mon Oct 03 2016 17:10:41 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : http
Mon Oct 03 2016 17:10:41 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : assetic
Mon Oct 03 2016 17:10:41 WARNING BUNDLE APP  :  OVERRIDING  CONFIG bundle  : sequelize
			</pre>	
			
		</div>









