{{trans_default_domain("doc")}}



<h1> {{ "configurations" | trans() | capitalize() }}</h1>
<hr>



<h3>Configuration Framework :  </h3>


<p>
	You can find the front configuration file for framework in repository at <strong>./config/config.yml</strong> <br>

	This config file  do multiple tasks as : <br>
	<ul>	
		<li> parametrer http(s) servers listen domain and port </li>
		<li> Regexp domain Alias </li>
		<li> AutoLoad differents framework bundles as security monitoring ...</li>
		<li> Autoload services for render statics  files (css, js , images ..)</li>
		<li> locale (Lang) by default for all framework </li>
		<li> Create Assets link in public directory </li>
		<li> Create Nodefony Database </li>
	</ul>	


<p>

<pre>

#
#  NODEFONY FRAMEWORK
#
#       KERNEL CONFIG
#
#

name:                           "NODEFONY"
system:
  version:                      "Alpha"
  domain:                       nodefony.com                    # nodefony can listen only one domain ( no vhost )
  domainAlias:                  "^www\\.nodefony\\.com$"        # domainAlias string only <<regexp>> the separator is space  example ".*\\.nodefony.com  ^nodefony.eu$ ^.*\\.nodefony.eu$"
  httpPort:                     5151
  httpsPort:                    5152
  statics:                      true
  security:                     true
  realtime:                     true
  monitoring:                   true


  locale:                       "en_en"

  log:
    active:                     true
    console:                    false
    file:                       false
    messages:                   "/tmp/nodefony.log"
    error:                      "/tmp/errorNodefony.log"
    services:                   "/tmp/servicesNodefony.log"
    #TODO
    rotate:                     false



</pre>








<h3>Configuration Application :</h3>
<p>
	You can find the front configuration file for Application in repository at <strong>./app/config/config.yml</strong> <br>

</p>
<pre>

#
#  FRAMEWORK NODEFONY
#
#     APP CONFIG  
name :				AppBundle
locale :			en_en
version :                       "1.0"
App:
  projectName:                  "Demo" 
  projectYear:                  2015 
  locale:                       "en_en"
  authorName:                   "admin"
  authorMail:                   "admin@nodefony.com"


#
#       OVERRIDE BUNDLE MONITORING
#
#       see MONITORING BUNDLE config for more options
#
#
monitoringBundle:
  debugBar:                     true
  #storage:                      false
  
#
#       OVERRIDE BUNDLE HTTP 
#
#       see HTTP BUNDLE config for more options
#       
#       // SERVICES
#       statics files
#       session
#       http server
#       https server
#       upload 
#       websocket server 
#       websocket secure server 
#
#
httpBundle:
  statics:
    settings:
      cache :                     true	
      maxAge:                     0 
    web:
      path:                       "/web/"
      maxage:                     30*24*60*60*1000

  upload:
    tmp_dir:                      "tmp/upload"
    #max_filesize:                 100000               #en Bytes

  session:
    handler:                      session.storage.sequelize       # session.storage.files | session.storage.sequelize | session.storage.memcached
    #save_path:                    "./tmp/sessions"              # for session.storage.files only
    cookie:
      maxAge:                     0   

  http:
    responseTimeout:              40000
  https:
    responseTimeout:              40000
    certificats:
      key:                        "/config/certificates/serverKey.pem"
      cert:                       "/config/certificates/serverCert.pem"


#
#       OVERRIDE BUNDLE ASSETIC
#
#       LESS SERVICE CONFIGURATION
#
asseticBundle:
  less:
    compress:                     true
    cache:                        true 

#
#       OVERRIDE  BUNDLE SEQUELIZE  
#       
#       see SEQUELIZE BUNDLE config for more options
#
#       Nodefony Database Management
#
#       By default nodefony create  connector name nodefony ( driver sqlite )
#       for manage Sessions / User 
#
#
#       here create new databases connectors
#
#
sequelizeBundle: 
  debug:        false
  connectors:                    
    nodefony:
      driver:          mysql
      dbname:          'nodefony'
      username:        'root'
      password:        'password'
      options:
        dialect:       mysql
        host:          nodefony.com
        port:          '3306'

</pre>



