/*
 *
 *
 *  DRAGGABLE
 *
 *
 */

.draggable {
	cursor: move;
}


/*
 *
 *	PANEL
 */

.panel{
	position:absolute; 
	display: table;
}

.panel .row{
	display: table-row;
}
.panel .body{
	padding:10px;
}

.panel .body, .panel .head {
	display: table-cell;
}

.panel .head {
	height: 24px;
}

.panel .head .title {
	margin-left: 10px;
	float: left;
}

.panel .head .glyphicon {
	margin-top: 4px;
	margin-right: 5px;
	cursor: pointer;
}

