<!-- dashboard standard layout -->
{% include '../../blocks/title.html.twig' with { 'title': 'Dashboard Real Time', 'subtitle': 'Monitoring Nodefony framework ' } %}
<div class="wrapper">

	
	<div class="row">
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center wrapper">
				<div id="requests" class="h1 text-white font-thin no-m">0</div>
                                <span  class="text-muted text-xs text-white">Requettes</span>
                        </a>

                </div>
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center wrapper">
				<div id="websocket" class="h1 text-white font-thin no-m">0</div>
                                <span class="text-muted text-xs text-white">Websockets</span>
                        </a>
                </div>
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center wrapper">
				<div id="nbServices" class="h1 text-white font-thin no-m">0</div>
                                <span class="text-muted text-xs text-white">Services</span>
                        </a>
                </div>
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center wrapper">
				<div id="nbRoutes" class="h1 text-white font-thin no-m">0</div>
                                <span class="text-muted text-xs text-white">Routes</span>
                        </a>
                </div>
	</div>


	<div class="row">
		<div class="col-md-2 col-lg-12">

			<div class="panel panel-default">
				<!-- Default panel contents -->
                        	<div class="panel-heading"><strong>PM2 MONITOR REALTIME  </strong></div>
                        	<div  class="panel-body">
					<div id="widget-pm2" class="container-fluid">	
						
					</div>
						
                        	</div>
                	</div>

		</div>
		
	</div>
	<div class="row">
		<div class="col-md-2 col-lg-12">
			<div class="panel panel-default">
				<!-- Default panel contents -->
                        	<div class="panel-heading"><strong>PM2 STATUS  REALTIME  </strong></div>
                        	<div id="widget-pm2Status" class="panel-body">
					<div class="container-fluid">
						<table id="pm2-status" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
							<thead>
            							<tr>
                							<th>Name</th>
                							<th>Id</th>
                							<th>Mode</th>
                							<th>Pid</th>
                							<th>Status</th>
                							<th>Resart</th>
                							<th>Uptime</th>
                							<th>Memory (Mo)</th>
                							<th>Cpu (%)</th>
            							</tr>
        						</thead>
							<tbody>
							</tbody>
						</table>
					</div>
                        	</div>
                	</div>
		</div>

	</div>


	<div class="row">
		<div id="syslog" class="col-md-3 col-lg-4">
			
		</div>
		<div id="realtime" class="col-md-3 col-lg-4">
			  
		</div>
		<div id="http" class="col-md-3 col-lg-4">
			
		</div>
	</div>
	
</div>
<!-- /dashboard standard layout -->
