<!-- dashboard standard layout -->
{% include '../../blocks/title.html.twig' with { 'title': 'Dashboard ', 'subtitle': 'Monitoring Nodefony framework ' } %}
<div class="wrapper">


	<!--div class="row">
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-primary text-center ">
				<div id="environement" class="h1 text-white font-thin no-m">0</div>
                                <span  class="text-muted text-xs text-white">Mode</span>
                        </a>
                </div>
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center ">
				<div id="websocket" class="h1 text-white font-thin no-m">0</div>
                                <span class="text-muted text-xs text-white"></span>
                        </a>
                </div>
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center ">
				<div id="nbServices" class="h1 text-white font-thin no-m">0</div>
                                <span class="text-muted text-xs text-white">Services</span>
                        </a>
                </div>
		<div class="col-md-4 col-lg-3" >
			<a  class="block panel bg-info text-center ">
				<div id="nbRoutes" class="h1 text-white font-thin no-m">0</div>
                                <span class="text-muted text-xs text-white">Routes</span>
                        </a>
                </div>
	</div-->

	
	

	<div class="row">
		<!--div class="col-md-3 col-lg-3">
			<div id="CDN" class="panel panel-info">
				<div  class="panel-heading"><strong>CDN SERVERS </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
				<div  class="panel-body hide">
					<ul class="list-group">
  						<li class="list-group-item">
							CDN Assets <strong>javascript  </strong>	
							<span class="badge javascripts"></span>
  						</li>
						<li class="list-group-item">
							CDN Assets <strong>stylesheets </strong> 	
							<span class="badge stylesheets"></span>
  						</li>
					<ul>
				</div>
                        </div>
                </div-->
		<div class="col-md-6 col-lg-4 col-sm-6">
			<div id="NODEFOY" class="panel panel-info">
				<div  class="panel-heading"><strong>NODEFONY STATE</strong>  </div>
				<div  class="panel-body ">

					<ul class="nav nav-tabs">
  						<li role="presentation" class="active"><a data-target="#STATE" data-toggle="tab"  >General</a></li>
  						<li role="presentation"><a data-target="#KERNEL" data-toggle="tab"  >KERNEL</a></li>
  						<li role="presentation"><a data-target="#APP" data-toggle="tab"  >App</a></li>
  						<li role="presentation"><a data-target="#CDN" data-toggle="tab"  >CDN</a></li>
					</ul>	

					<div class="tab-content wrapper">
						<div id="STATE" class="tab-pane active">
							<div class="wrapper" >
								<div  class=""><strong>Mode Start : </strong><span class="label label-success pull-right running">UNDEFINED</span></div>
								<div  class=""><strong>Environment :</strong><span class="label label-success pull-right environment">UNDEFINED</span></div>
								<div  class=""><strong>Debug :</strong><span class="label label-success pull-right debug">UNDEFINED</span></div>
								
							</div>
	
						</div>

						<div id="CDN" class="tab-pane">
							<div class="wrapper">
								<div  class="wrapper"><strong>CDN SERVERS </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
								<ul class="list-group">
  									<li class="list-group-item">
										CDN Assets <strong>javascript  </strong>	
										<span class="badge javascripts">none</span>
  									</li>
									<li class="list-group-item">
										CDN Assets <strong>stylesheets </strong> 	
										<span class="badge stylesheets">none</span>
  									</li>
								<ul>
							</div>
						</div>
						
						<div id="KERNEL" class="tab-pane">
							<ul class="list-group config">
  							
							</ul>
						</div>

						<div id="APP" class="tab-pane">
							<ul class="list-group config">
  							
							</ul>
						</div>


					</div>


				</div>
                        </div>
                </div>
		
		<div class="col-md-6 col-lg-4 col-sm-6">
			<div id="HTTP" class="panel panel-info">
				<div class="panel-heading"><strong>HTTP SERVER </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
				<div  class="panel-body hide">

					<ul class="nav nav-tabs">
  						<li role="presentation" class="active"><a data-target="#httpGeneral" data-toggle="tab"  >General</a></li>
  						<li role="presentation"><a data-target="#httpConfig" data-toggle="tab"  >Configuration</a></li>
					</ul>
					<div class="tab-content wrapper">
						<div id="httpGeneral" class="tab-pane active">
							<ul class="list-group">
  								<li class="list-group-item">
									Domain <strong>http:// </strong>	
									<span class="badge domain"></span>
  								</li>
								<li class="list-group-item">
									Listen Port  	
									<span class="badge port"></span>
  								</li>
								
							</ul>

						</div>
						<div id="httpConfig" class="tab-pane">
							<ul class="list-group config">
							</ul>	
						</div>
                        		</div>
				</div>
                        </div>
                </div>
		<div class="col-md-6 col-lg-4 col-sm-6">
			<div id="HTTPS" class="panel panel-info">
				<div  class="panel-heading"><strong>HTTPS SERVER </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
				<div  class="panel-body hide">
					<ul class="nav nav-tabs">
  						<li role="presentation" class="active"><a data-target="#httpsGeneral" data-toggle="tab"  >General</a></li>
  						<li role="presentation"><a data-target="#httpsConfig" data-toggle="tab"  >Configuration</a></li>
					</ul>
					<div class="tab-content wrapper">
						<div id="httpsGeneral" class="tab-pane active">
							<ul class="list-group">
  								<li class="list-group-item">
									Domain <strong>https:// </strong>	
									<span class="badge domain"></span>
  								</li>
								<li class="list-group-item">
									Listen Port  	
									<span class="badge port"></span>
  								</li>
								
							</ul>

						</div>
						<div id="httpsConfig" class="tab-pane">
							<ul class="list-group config">
							</ul>	
						</div>
                        		</div>
				</div>
                        </div>
                </div>
		
		
	</div>
	<div class="row">

		<div class="col-md-6 col-lg-4 col-sm-6">
			<div id="STATICS" class="panel panel-info">
				<div  class="panel-heading"><strong>STATICS SERVER </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
				<div  class="panel-body hide">
					<ul class="nav nav-tabs">
  						<li role="presentation" class="active"><a data-target="#static" data-toggle="tab"  >General</a></li>
  						<li role="presentation"><a data-target="#staticConfig" data-toggle="tab"  >Configuration</a></li>
					</ul>


					<div class="tab-content wrapper">
						<div id="static" class="tab-pane active">
							<ul class="list-group settings">
  							
							</ul>
						</div>
						<div id="staticConfig" class="tab-pane">
							<ul class="list-group directories">
							</ul>	
						</div>
                        		</div>

				</div>
                        </div>
                </div>

		<div class="col-md-6 col-lg-4 col-sm-6">
			<div id="WEBSOCKET" class="panel panel-info">
				<div class="panel-heading"><strong>WEBSOCKET SERVER </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
				<div  class="panel-body hide">
					<ul class="nav nav-tabs">
  						<li role="presentation" class="active"><a data-target="#websocket" data-toggle="tab"  >General</a></li>
  						<li role="presentation"><a data-target="#configWebsocket" data-toggle="tab"  >Configuration</a></li>
					</ul>
					<div class="tab-content wrapper">
						<div id="websocket" class="tab-pane active">
							<ul class="list-group">
  								<li class="list-group-item">
								Domain <strong>ws:// </strong>	
								<span class="badge domain"></span>
  								</li>
								<li class="list-group-item">
								Switch Protocol Port  	
								<span class="badge port"></span>
  								</li>
							</ul>
						</div>
						<div id="configWebsocket" class="tab-pane">
							<ul class="list-group config">
							</ul>
						</div>
                        		</div>
                		</div>
                	</div>
                </div>


		<div class="col-md-6 col-lg-4 col-sm-6">
			<div id="WEBSOCKET_SECURE" class="panel panel-info">
				<div class="panel-heading"><strong>WEBSOCKET SECURE SERVER </strong><span class="label label-danger pull-right ready">INACTIVE</span></div>
				<div  class="panel-body hide">

					<ul class="nav nav-tabs">
  						<li role="presentation" class="active"><a data-target="#websockets" data-toggle="tab"  >General</a></li>
  						<li role="presentation"><a data-target="#configWebsockets" data-toggle="tab"  >Configuration</a></li>
					</ul>
					<div class="tab-content wrapper">
						<div id="websockets" class="tab-pane active">
							<ul class="list-group">
  								<li class="list-group-item">
								Domain <strong>wss:// </strong>	
								<span class="badge domain"></span>
  								</li>
								<li class="list-group-item">
								Switch Protocol Port  	
								<span class="badge port"></span>
  								</li>
							</ul>
						</div>
						<div id="configWebsockets" class="tab-pane">
							<ul class="list-group config">
							</ul>
						</div>
                        		</div>
				</div>
                        </div>
                </div>
		

	</div>

	
	
	<div class="row">
		<div class="col-md-2 col-lg-12">
			<div class="panel panel-info">
				<!-- Default panel contents -->
                        	<div class="panel-heading"><strong>PM2 STATUS  REALTIME  </strong></div>
                        	<div id="widget-pm2Status" class="panel-body">
					<div class="container-fluid">
						<table id="pm2-status" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
							<thead>
            							<tr>
                							<th>Name</th>
                							<th>Id</th>
                							<th>Mode</th>
                							<th>Pid</th>
                							<th>Status</th>
                							<th>Resart</th>
                							<th>Uptime</th>
                							<th>Memory (Mo)</th>
                							<th>Cpu (%)</th>
            							</tr>
        						</thead>
							<tbody>
							</tbody>
						</table>
					</div>
                        	</div>
                	</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-lg-12">

			<div class="panel panel-primary">
				<!-- Default panel contents -->
                        	<div class="panel-heading"><strong>PM2 MONITOR REALTIME  </strong></div>
                        	<div  class="panel-body">
					<div id="widget-pm2" class="container-fluid">	
						
					</div>
						
                        	</div>
                	</div>

		</div>
		
	</div>
	
	<!--div class="row">
		<div id="syslog" class="col-md-3 col-lg-4">
			
		</div>
		<div id="realtime" class="col-md-3 col-lg-4">
			  
		</div>
		<div id="http" class="col-md-3 col-lg-4">
			
		</div>
	</div-->

	
</div>
<!-- /dashboard standard layout -->
