{% extends "/app/Resources/views/base.html.twig" %}


{% block title %} {{title}} {% endblock %}



{% block stylesheets %}
	<link href="/frameworkBundle/css/style.css" rel="stylesheet" media="screen">

{% endblock %}


{% block body %}
		
	{% block content %}
		<div class="container">
			<div class="row">
				{% block navContent %}{% endblock %}
			</div>
			<div class="row">
				{% block bodyContent %}{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}


{% block javascripts %}

	{% javascripts output='/frameworkBundle/assets/js/nodefony.js' filter='?uglifyjs2'
		"/frameworkBundle/vendors/jquery/jquery-1.12.0.js"
		"/frameworkBundle/vendors/bootstrap/js/bootstrap.js"
		"/vendors/stage/stage.js"
		"/vendors/stage/function.js"
		"/vendors/stage/notificationsCenter.js"
		"/vendors/stage/syslog/syslog.js"
	%}
		<script type="text/javascript"  src="{{ asset_url }}"></script>
	{% endjavascripts %}


{% endblock %}


