{% extends "/app/Resources/views/base.html.twig" %}
{% block title %} {{title}} {% endblock %}
{% block stylesheets %}
	<link href="/frameworkBundle/assets/css/framework.css" rel="stylesheet" media="screen">
{% endblock %}
{% block body %}
	{% block content %}
		<div class="container">
			<div class="row">
				{% block navContent %}{% endblock %}
			</div>
			<div class="row">
				{% block bodyContent %}{% endblock %}
			</div>
		</div>
	{% endblock %}
{% endblock %}
{% block javascripts %}
		<script type="text/javascript"  src="/frameworkBundle/assets/js/framework.js"></script>
{% endblock %}


