{% extends "/vendors/nodefony/bundles/frameworkBundle/Resources/views/layout.html.twig" %}

{% block bodyContent %}

	<div class="container">
		{{html}}
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

{% endblock %}
