<!-- Footer -->
<footer class="page-footer font-small bg-light fixed-bottom">
  <!-- Copyright -->
  <div class="text-center py-3">
    <a href="https://github.com/nodefony">{{year|escape}} powered by: nodefony@{{nodefony.version}}</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
