<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <a href="https://github.com/nodefony">{{year|escape}} powered by: nodefony@{{nodefony.version}}</a>
  </div>
</footer>
<!-- Footer -->
