{% extends './base.html.twig' %}

{% set error = getFlashBag("error") %}
{% set info = getFlashBag("info") %}

{% block body %}

<div class="hello">

  <img class=displayed src=/framework-bundle/images/nodefony-logo.png>
  <h1>{{ name }}</h1>
  <h2>{{ description }}</h2>
  <img class="displayed"  style=" width:10%; height:10%" src="/framework-bundle/images/nodejs/nodejs-new-pantone-black.png">
  <img class="displayed"  style=" width:10%; height:10%" src="/framework-bundle/images/bootstrap.png">
  <img class="displayed" style=" width:15%; height:15%" src="/framework-bundle/images/webpack/webpack.svg">

</div>

{% endblock %}
