<!-- header -->
<div class="app-header">
	<div class="navbar navbar-fixed-top bg-white" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header bg-primary">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href=""></a>
			</div>
			<div class="navbar-collapse collapse box-shadow">
				<p class="navbar-text calling hide"><i class="fa fa-circle-o-notch fa-spin"></i></p>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Nodefony <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="">Aide</a></li>
							<li role="presentation" class="divider"></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- /header -->
