<div class="wrapper-md b-b bg-light lter">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<h1 class="font-thin h3 no-m">{{ title }}</h1>
			<small class="text-muted">{{ subtitle }}</small>
		</div>
		<div class="col-sm-6 hidden-xs text-right">
		</div>
	</div>
</div>
