<div class="col-lg-8">
	<div class="panel panel-default">
	  <div class="panel-heading bg-light">
	  	Panel heading without title
	  </div>
	  <div class="panel-body">
	    Basic panel example
	  </div>
	  <div class="panel-footer">Panel footer</div>
	</div>
</div>