
<header class="header">
	<div class="navbar-header text-center full-width" style="line-height: 40px; vertical-align: middle; float: none !important;">
		<div class="pull-right m-r-md dropdown">
			<div class="dropdown-toggle pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="fa fa-bars fa-lg"></span>					
			</div>
			<ul class="dropdown-menu p-5">
			    <li class="text-center"><span class="connectApi label label-primary m-t-lg">API : {{ api }}</span></li>
			    <li class="text-center">
					<input type="checkbox" id="env" name="env" value="1"{% if env == "prod" %} checked="checked"{% endif %} />
				</li>
				<li class="text-center">
					<input type="checkbox" id="debug" name="debug" value="1"{% if debug == 1 %} checked="checked"{% endif %} />
				</li>
				<li role="separator" class="divider"></li>
			    <li class="text-center"><input type="checkbox" value="1" checked="checked" id="consoleAction" /></li>
			    <li class="text-center"><input type="checkbox" value="1" id="sipLogs" /></li>				    
			    <li class="text-center"><input type="checkbox" value="1" id="webrtcLogs" /></li>
			    <li role="separator" class="divider"></li>
			    <li class="text-center pointer logsNavigator">
			    	<strong>Logs navigator</strong><br/>
			    	<input type="text" id="logsNavigator" class="text-center" value="" />
			    </li>
			  </ul>
		</div>
		<a class="navbar-brand text-primary" href="{{path("callContactDialPopup")}}?time={{ random() }}"><strong class="text-primary">CALL-CONTACT</strong></a>
		<div class="pull-right connectIcon">
		</div>			
	</div>
</header>

	