#dialPadContainer {
  height:410px;
  margin:0 auto 0 auto;
  position:relative;
  top:116px;
  padding:24px 0 0 0;
  background:#fff;
  width: 100%;
}

.key {
  border-radius: 30px;
  color:#9179a8;
  width:50px;
  height:50px;
  line-height:20px;
  text-align:center;
  font-size:30px;
  float:left;
  box-sizing:border-box;
  padding:5px 0 0 0;
  margin:0 7px 10px 7px;
  border:1px solid #9179a8;
  cursor:pointer;
}
.key span {
  display:block;
  color:#444;
  text-align:center;
  font-size:12px;
  text-transform:uppercase;
}
.key.special {
  line-height:40px;
}
.key.nb {
  border:none;
}
.key.phone {
  background:#5CDB74;
  border:none;
  color:#FFF;
  line-height:60px;
  font-size:40px;
}
.clear {
  clear:both;
}