#keyboard {
	margin: auto;
    margin-top: 30px;
    color: #585757;
    width:330px;
}

#keyboard .touch {
    text-align: center;
}

#keyboard .touch span{
    border: solid 1px #8E8E8E;
    border-radius: 100%;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-weight: bold;
}


#keyboard .touch span:hover{
	cursor:pointer;
}

#keyboard .keyboard-line {
    height: 55px;
}

#keyboard .key-green {
    background-color: #3DC106 !important;
    border: none !important;
    color: #FFF !important;
}

#keyboard .key-red {
    background-color: #C10606 !important;
    border: none !important;
    color: #FFF !important;
}
