<div class="page-header">
  <h1><strong>NODEFONY FRAMEWORK</strong> </h1>

</div>


<h2 > You can see here :</h2>

<p>
	<ul>
		<li><a href="{{ path('documentation-section',{section:'controller', version:version, bundle:'framework' })}}"> Controller</a></li>
		<li><a href="{{ path('documentation-section',{section:'routing', version:version, bundle:'framework' })}}"> Routing</a></li>
		<li><a href="{{ path('documentation-section',{section:'view', version:version, bundle:'framework' })}}">Views and Templates</a></li>
		<li><a href="{{ path('documentation-section',{section:'translation', version:version, bundle:'framework' })}}">Translation</a></li>
	</ul>
<p>


<h2 name="" id="">MVC ARCHITECTURE  :</h2>

<div class="doc2">

	<p>
		<img src="/documentationBundle/images/requestMvc.png" />
	</p>
	
</div>

